<div class="scrumdo-archive-sidebar scrumdo-sidebar"
     ng-class="{'closed-archive':!ctrl.boardProject.uiState.archiveOpen, 'opened-archive':ctrl.boardProject.uiState.archiveOpen}">
    <div class="scrumdo-sidebar-archive-heading">ARCHIVE</div>
    <div class="archive-filter">
        <div class="filters">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" 
                placeholder="Quick search" 
                name="search-archive" 
                ng-model="boardProject.archiveQuickSearch" 
                class="scrumdo-form ng-pristine ng-valid ng-empty ng-touched" />
        </div>
    </div>
    <div class="scrumdo-archive pull-left">


                <ul ng-if="ctrl.viewType==0" class="kanban-story-list" 
                    data-project-id="{{boardProject.project.slug}}"
                    data-iteration-id="{{boardProject.archiveIterationId()}}">
                    <sd-story story="story"
                              project="boardProject.project"
                              epics="boardProject.epics"
                              layout="'list'"
                              ng-repeat="story in boardProject.archiveStories|filter:boardProject.archiveFilter|orderBy:'rank'"></sd-story>
                </ul>


    </div>
</div>