<div class="form-group form-inline">
        <label for="awb">AirwayBill Number :&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="form-control" id="awb" value={{shipment.airwaybill_number}} readonly><br>
        <label for="recovered_amount">Amount Collected:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="form-control" id="recovered_amount" value={{damage.recovered_amount}} readonly>    <br>
        <label for="recovery_from">Recovered From :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="form-control" id="recovery_name" value={{damage.recovery_name}} readonly><br>
        <label for="dated">Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="shipment_date" id='sold_date'><br>
        <label for="receiptnumber">Reciept Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="form-control" id="recovery_recipt_number" value={{damage.recovery_recipt_number}} readonly><br>
        <label for="empid">Emp Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="form-control" id="employee_code" value={{damage.employee_code}} readonly>
</div>
