<html>
<body>
<script type='text/javascript' src="/static/js/jquery.js"></script>
{% load i18n %}

Password reset
{% if validlink %}
<div id="reg-form">
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="." method="post">
{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<input type="Submit" value="Change my Password" id="submit_button"/>
</form>

{% else %}

<p>{% trans 'Password reset unsuccessful' %}</p>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</body>
</html>