<html>
<body>
<script type='text/javascript' src="/static/js/jquery.js"></script>
<p>Please enter your email (username)</p>

<form action="" method="post">{% csrf_token %} 

{{ form.email.errors }}
<p>{{ form.email }}</p>

<input type="button" id="submit_button" value="Submit"/>
</form>
<script type="text/javascript">
$('#submit_button').click(function(){
    $.ajax({
         url: '/authentication/password/reset/',
         type: 'POST',       
         data: {email: $('#id_email').val()},
         success: function(data){
              $('#popupContact').html(data);
         }  
     });
     return false;	
});

//CLOSING POPUP
	//Click the x event!
	$("#popupContactClose").click(function(){
		disablePopup();
	});
	//Click out event!
	$("#backgroundPopup").click(function(){
		disablePopup();
	});
	//Press Escape event!
	$(document).keydown(function(e){
		if(e.keyCode==27 && popupStatus==1){
			disablePopup();
		}
		
	});


$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});



</script>

</body>
</html>
