{% extends "projects/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load projects_tags %}
{% load iteration_tags %}


{% load iteration_tags %}
{% load ifsetting_tag %}

{% block head_title %}{{ project.name }}{% endblock %}
{% block body_div_class %}wide_body{% endblock %}
{% block body_class %}iteration-page{% endblock %}
{% block body_app %}ng-app="IterationListApp" id="ng-app"{% endblock %}

{% block preloader_area %}
        <div class="page-preloader" ng-if="!preloader.fullyLoaded">
            <img src="{{ STATIC_URL }}img/ScrumDoSignupLogo.png" class="scrumdo-signup-logo img-responsive center-block"/>
            <p class="scrumdo-tip">
                {% autoescape off %} {% scrumdo_tip %} {% endautoescape %}
            </p>
    </div>
{% endblock %}



	
{% block innerbody %}

    <sd-iteration-list></sd-iteration-list>
{% endblock %}


{% block appinit %}scrumdo.setupIterationListApp("{{ STATIC_URL }}", "{{ iteration.project.slug }}", "{{ organization.slug }}",{{ iteration.id }});{% endblock %}

{% block subnavbar %}
            <div class="sub-nav-settings">
                <div class="row">
                    <div class="col-sm-3">
                        <a ng-click="$broadcast('iterationSettings')" class="scrumdo-btn primary"><span class="glyphicon glyphicon-th"></span> Iteration Settings</a>
                    </div>
                </div>
            </div>
{% endblock %}