{% extends "github_integration/base.html" %}

{% load activity_tags %}
{% load i18n %}
{% load avatar_tags %}

{% load extras_tags %}
{% load projects_tags %}


{% load wiki_tags %}
{% load iteration_tags %}




{% block gh_body %}

<div class="github-authentication">
	<img style="float:right;" src="{{STATIC_URL}}extras/github-logo.png">
	<h1>Log in</h1>
	<p>To start integrating GitHub with ScrumDo we need to get the authorization set up.  If you're already logged into GitHub it's as simple as clicking
		a couple buttons.</p>
	<a href="{{auth_url}}" class="button blue large">Authenticate Via Github</a>
</div>

{% endblock %}