<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Reverse Pickup Sheet: {{oid}}</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.rev-details{
display: inline-block;
vertical-align: top;
width: 309px;
}
</style>
</head>

<body>

<script src="{{ STATIC_URL }}assets/js/jquery-ui/development-bundle/jquery-1.8.2.js"></script>
<!--
{%if not request.GET.print %}
<a href="javascript: window.open ('/pickup/reverse_pickup_sheet/{{oid}}/?print=1','mywindow'); target=_blank">PRINT </a>
{%endif%}
-->
{%for a in shipment%}
<div style="height:842px; width:745px; display:block;">
<br>
<br>
<center>(Customer Copy)
<br>
<br>
Ecom Express Private Limited
<center>
<img src="{{ STATIC_URL }}airwaybill/{{a.airwaybill_number}}.png">
</center>
<!--
<img style = "margin-left:38px; height:130px; width:160px;" src="{{ STATIC_URL }}airwaybill/{{a.airwaybill_number}}.png">
-->
</center>
<br>
<br>
<div align = "left" class="rev-details">
Order Number: {{a.order_number}}<br>
Pickup Address: {{a.pickup_consignee_address1}}<br>
                {{a.pickup_consignee_address2}}<br>
                {{a.pickup_consignee_address3}}<br>
                {{a.pickup_pincode}} <br>
Contact Number : {{a.mobile}} 
<br>
Consignee Name: {{a.pickup_consignee}}
</div>
<div align = "right" class="rev-details" style="float:right;">
Delivery Address: {{a.shipper.address.address1}}<br>
                {{a.shipper.address.address2}}<br>
                {{a.shipper.address.address3}}<br>
                {{a.shipper.address.pincode}}   <br>   

<br>
Customer Name: {{a.shipper}}
</div>
<br>
<br>
<br>
<hr>
<br>
<center>(Self Copy to be pasted on shipments)
<br>
<br>
Ecom Express Private Limited
<center>
<img src="{{ STATIC_URL }}airwaybill/{{a.airwaybill_number}}.png">
</center>
<!--<img style = "margin-left:38px; width:220px; height:auto" src="{{ STATIC_URL }}airwaybill/{{a.airwaybill_number}}.png">
-->
<!--<img style = "margin-left:38px; height:130px; width:160px;" src="{{ STATIC_URL }}airwaybill/{{a.airwaybill_number}}.png">
-->
</center>
<br>
<br>
<div align = "left" class="rev-details">
Order Number: {{a.order_number}}<br>
Pickup Address: {{a.pickup_consignee_address1}}<br>
                {{a.pickup_consignee_address2}}<br>
                {{a.pickup_consignee_address3}}<br>
                {{a.pickup_pincode}} <br>       
Contact Number : {{a.mobile}}
<br>
<br>
Consignee Name: {{a.pickup_consignee}}
</div>

<div align = "right" class="rev-details" style="float:right;">
Delivery Address: {{a.shipper.address.address1}}<br>
                {{a.shipper.address.address2}}<br>
                {{a.shipper.address.address3}}<br>
                {{a.shipper.address.pincode}}   <br>  

<br>
Customer Name: {{a.shipper}}
<br>
</div>
</div>
<br>
<p style="page-break-after:always;"> </p>
{%endfor%}
</body>
<script>
$(function(){
    var print = {{request.GET.print}}
    console.log(print);
    if (print == 1){
        window.print();
    }
    // window.close();
});
</script>
</html>

