<div>
    <input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS" /> 
    <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS" /> 
    <input type="hidden" name="form-MAX_NUM_FORMS" id="id_form-MAX_NUM_FORMS" /> 
</div>
<div id="div_id_form-0-airwaybill_number" class="control-group">
    <label for="id_form-0-airwaybill_number" class="control-label requiredField"> Airwaybill number<span class="asteriskField">*</span></label>
    <div class="controls">
        <input id="id_form-0-airwaybill_number" type="text" class="textinput textInput" name="form-0-airwaybill_number" /> 
    </div>
</div>
<div id="div_id_form-0-airwaybill_amount" class="control-group">
    <label for="id_form-0-airwaybill_amount" class="control-label requiredField">Airwaybill amount<span class="asteriskField">*</span></label>
    <div class="controls">
        <input id="id_form-0-airwaybill_amount" type="text" class="textinput textInput" name="form-0-airwaybill_amount" /> 
    </div>
</div>
<div id="div_id_form-0-credit_card_payment_received" class="control-group">
    <label for="id_form-0-credit_card_payment_received" class="control-label requiredField"> Credit card payment received<span class="asteriskField">*</span></label>
    <div class="controls"><input id="id_form-0-credit_card_payment_received" type="text" class="textinput textInput" name="form-0-credit_card_payment_received" /> </div>
</div>
<div id="div_id_form-0-balance_pending" class="control-group"><label for="id_form-0-balance_pending" class="control-label requiredField">
				Balance pending<span class="asteriskField">*</span></label><div class="controls"><input id="id_form-0-balance_pending" type="text" class="textinput textInput" name="form-0-balance_pending" /> </div></div><div id="div_id_form-0-delivery_centre" class="control-group"><label for="id_form-0-delivery_centre" class="control-label requiredField">
				Delivery centre<span class="asteriskField">*</span></label><div class="controls"><input id="id_form-0-delivery_centre" type="text" class="textinput textInput" name="form-0-delivery_centre" /> </div></div><div id="div_id_form-0-remarks" class="control-group"><label for="id_form-0-remarks" class="control-label requiredField">
				Remarks<span class="asteriskField">*</span></label><div class="controls"><input id="id_form-0-remarks" type="text" class="textinput textInput" name="form-0-remarks" /> </div></div>

