<div class="add-details pull-right">
<a href="/delivery/" title="Inscan Bag"><i class="icon-signin"> </i>Inscan Bag </a> &nbsp; &nbsp;
<a href="/delivery/inscan_shipment/" title="Inscan Shipment"><i class="icon-signin"> </i>Inscan Shipment</a> &nbsp; &nbsp;
<a href="/delivery/mass_updation/"title="Mass Updation"><i class="icon-truck"> </i>Mass Updation </a> &nbsp; &nbsp;
<a href="/delivery/outscan/" title="Outscan"><i class="icon-signout"> </i>Outscan </a> &nbsp; &nbsp;
<a href="/delivery/status_update/"title="Status Update"><i class="icon-truck"> </i>Status Update </a> &nbsp; &nbsp;
<a href="/delivery/sal_tally/"title="SAL Tally"><i class="icon-truck"> </i>SAL Tally  </a> &nbsp; &nbsp;
<a href="/delivery/cash_tally/"title="Cash Tally"><i class="icon-truck"> </i>Cash Tally </a> &nbsp; &nbsp;
<a href="/delivery/return_redirection/3/"title="Return"><i class="icon-plane"> </i>Return </a> &nbsp; &nbsp;
<a href="/delivery/redirection/"title="Redirection"><i class="icon-plane"> </i>Redirection</a> &nbsp; &nbsp;
{% comment %}<a href="/delivery/monitoring_dashboard/" title="Dashboard"><i class="icon-plane"> </i>Monitoring Dashboard</a> &nbsp; &nbsp;{% endcomment %}
</div>
