<div class="span6">
   <h4>Avoid your redirection havoc! </h4>
   <h4>Find the nearest DC for the airwaybill number from here.</h4>
   <hr/>
   <table class="table">
     <tr>
       <td>Awb:</td>
       <td> <input type="text" id="id_awb_dc" place_holder="Paste your awb here"></td>
     </tr>
     <tr>
       <td>Address:</td>
       <td id="id_awb_address"></td>
     </tr>
     <tr>
       <td>Nearest DC's:</td> <td id="id_awb_dc_list"> </td>
     </tr>
   </table>
   <input class="btn btn-primary" type="button" data-dc="" value="Accept This DC" id="id_accept_dc">
</div><!-- class="span6" -->

