SIZE 101.6 mm, 50.8 mm

DIRECTION 0,0

REFERENCE 0,0

OFFSET 0 mm

SET PEEL OFF

SET CUTTER OFF

SET TEAR ON

CLS

CODEPAGE 1252

TEXT 778,199,"ROMAN.TTF",180,1,10,"ORG: ______  DST: ________"

TEXT 372,199,"ROMAN.TTF",180,1,10,"ORG: ______  DST: ________"

TEXT 777,47,"0",180,11,10,"DATE: _______________"

TEXT 371,47,"0",180,11,10,"DATE: _______________"

TEXT 777,85,"0",180,10,10,"VALUE: _________________"

TEXT 371,85,"0",180,10,10,"VALUE: _________________"
TEXT 777,123,"ROMAN.TTF",180,1,10,"CONSIGNEE: _____________"
TEXT 371,123,"ROMAN.TTF",180,1,10,"CONSIGNEE: _____________"
TEXT 778,161,"ROMAN.TTF",180,1,10,"SENDER: ________________"

TEXT 372,161,"ROMAN.TTF",180,1,10,"SENDER: ________________"

TEXT 709,395,"ROMAN.TTF",180,1,8,"Ecom Express Pvt Ltd"
TEXT 303,395,"ROMAN.TTF",180,1,8,"Ecom Express Pvt Ltd"
BARCODE 766,300,"39",53,0,180,2,5,"86150411"
TEXT 737,329,"ROMAN.TTF",180,1,9,"86150411"
BARCODE 360,300,"39",53,0,180,2,5,"893014671"
TEXT 331,329,"ROMAN.TTF",180,1,9,"893014671"
PRINT 1,1
