{% extends "base.html" %}
{% block header %}
   <script src="{{ STATIC_URL }}assets/authentication/js/popup.js"></script>   
{% endblock %}

	{% block content %}
<div id="backgroundPopup"></div>  
<div id="wrap">
  
  <div class="container-fluid main" role="main" id="main">
  <div class="row-fluid">
    <div class="span12">
{% include "delivery/nav.html" %}    
</div>
  </div>
    
   <div class="row-fluid">
      <div class="span12">
        <div class="survey-details">
          <div class="cust-title">
            <i class="icon-briefcase" style="font-size: 28px ; margin-right: 10px;margin-top: 2px;"></i> <span>Outscan</span>
            </div>
          <div class="cust-content">
          	<div class="content-login">
            <h3>Welcome {{request.user.employeemaster.firstname}}</h3><br/>
            
            <form name="bagging" action="">

            Origin Service Centre:
{{request.user.employeemaster.service_centre}}
{%comment%}
{%if origin_sc%}
{{origin_sc}}
<input type="hidden" value="{{origin_sc.id}}" name="origin_sc" class="origin_sc">
{%else%}
<select name="origin_sc" class="origin_sc">
                  <option>Select Origin</option>
{% for a in service_centre %}
                <option value="{{a.id}}">{{a.center_shortcode}}</option>
{% endfor %}
                </select>
{%endif%}
{%endcomment%}
<br>
<select name="ec", class="ec">
<option>Select Employee Code</option>
{% for a in em%}
<option value="{{a.employee_code}}">{{a.employee_code}}: {{a.firstname}}</option>
{%endfor%}
</select>

<input type="text"  id="mobile" placeholder="Employee Mobile no" class="ec" style="height:30px;width:100px;"/>
         {%comment%}     <input type="text" value="{{request.user.employeemaster.employee_code}}" placeholder="Employee Code" class="ec" style="width:50px; height:30px"/>
     {%endcomment%}        <input type="text" placeholder="Route" id="route" class="route" style="width:50px; height:30px"/>
                <input type="submit" name="submit" class="btn btn-primary add-batch" value="Create Outscan Batch" />   
                    
            
            </form>
            </div>
            <table class="table">
                <thead>
                    <tr> <th>Outscan ID.</th><th>Employee Code</th><th>Mobile Number</th><th>Route</th><th>Status</th><th>Actions</th></tr>
                </thead>
                <tbody>
{% for a in outscan %}
                <tr><td>{{a.id}}</td><td>{{a.employee_code.employee_code}} - {{a.employee_code.firstname}}</td><td>{{a.mobile_no}}</td><td>{{a.route}}</td><td>{{a.dos_updated_count|length}} / {{a.shipments.all|length}}</td><td><button class="btn btn-primary include_shipment_outscan" outscan_id="{{a.id}}" id="include_shipment{{a.id}}"{% ifequal a.status 1%} disabled="disabled" {%endifequal%}> Include Shipment</button> &nbsp;<button class="btn btn-primary delink_shipment_outscan" outscan_id="{{a.id}}" id="delink_shipment{{a.id}}" bag_id="{{a.id}}" {% ifequal a.status 1%} disabled="disabled" {%endifequal%}> Delink Shipment</button>&nbsp;<a href="#" class="btn btn-primary del_sheet" outscan_id="{{a.id}}" {% if a.status != '7'%} disabled="disabled"{% endif %}> Generate Delivery Sheet</a>&nbsp;<a href="#" class="btn btn-primary close-outscan" outscan_id="{{a.id}}"> Complete Outscan</a></td>
<td id="success{{a.id}}">
{% ifequal a.status 1%}
<span class="label label-success">Closed</span>
</td>
                  {%endifequal%}

</tr>
{%endfor%}
                </tbody>
            </table>
          </div>
    </div><!-- /row-fluid -->
    
    
  </div><!-- /container-fluid -->
             
</div>
<div id="popupContact">  
   
        <a id="popupContactClose">x</a>  

  </div>  




<!-- modal -->
  <div class="modal hide modal-add-revlet" id="add-revlet">
    <div class="modal-header cust-title">
      <a class="close" data-dismiss="modal">×</a>
      <div><font style="color:#fff; font-size:24px;"> Include Shipment </font> &nbsp;<div style="display:inline-block"><font style="color:#fff; font-size:14px;">Airway Bill:</font><input name="awb" class="awb" style=" width:100px" type="text" size="9"/> 
  <!--    <font style="color:#fff; font-size:14px;">Count:</font><input name="awb" class="awb" style=" width:40px" type="text" size="9"/>--></div> </div>

           
    </div>
    <div style="height:68px;" class="modal-body">
   		 
    </div>
  </div><!--modal end-->

<script>
$(function(){
var fewSeconds = 3;
$(".add-batch").click(function(){
var btn = $(this);
btn.prop('disabled', true);

var ec=$("select.ec").val();
var route=$("input.route").val();
//var origin_sc=$("input.origin_sc").val();
var table_data = $(".table > tbody").html();
var mobile = $("#mobile").val();

var datastring = "emp_code="+ec+"&route="+route+"&mobile="+mobile;


$.ajax({
type:"POST",
url: "/delivery/outscan_batch/",
data: datastring,
success: function(resp){
$(".table > tbody").html("")
$(".table > tbody").append(resp);
$(".table > tbody").append(table_data);
$("#del_sheet").eq(0).attr("disabled");
setTimeout(function(){
        btn.prop('disabled', false);
    }, fewSeconds*1000);

//alert("Sucessfully Added"); 
//location.reload()
}
});
return false;
});

$(".awb").change(function(){

var awb=$("input.awb").val();
var datastring = "awb="+awb;
$.ajax({
type:"POST",
url: "/delivery/include_shipment/",
data: datastring,
success: function(resp){

//alert(resp); 
}
});

     return false;
});

$(".close-outscan").live("click",function(){
var outscan_id=$(this).attr("outscan_id");
var that = this
var datastring = "outscan_id="+outscan_id;
$.ajax({
type:"POST",
url: "/delivery/close_outscan/",
data: datastring,
success: function(resp){
	$("#success"+outscan_id+"").html("<span class='label label-success'>Closed</span>");
	$("#include_shipment"+outscan_id+"").attr("disabled", "disabled");
	$("#delink_shipment"+outscan_id+"").attr("disabled", "disabled");
	$("#del_sheet").eq(0).removeAttr("disabled");
	$(that).attr("disabled", "disabled");
  //location.reload() 
  }
});

     return false;
});



});

</script>


{% endblock %}
