 <div class="form-group form-inline">
         <label for="awb">AirwayBill Number :&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="form-control" id="awb" ><br>
         <label for="employee_name">Employee Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="form-control" id="employee_name" value={{shipment.remark}} readonly>    <br>
          <label for="empid">Emp Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="form-control" id="employee_code" value={{damage.employee_code.id}} readonly>
 </div>

