{% extends "base.html" %}
{% block header %}
   <script src="{{ STATIC_URL }}assets/authentication/js/popup.js"></script>   
{% endblock %}



	{% block content %}

<div id="backgroundPopup"></div>  
<div id="wrap">
  <div class="container-fluid main" role="main" id="main">
  <div class="row-fluid">
    <div class="span12">
  {% include "hub/nav.html" %}     </div>
  </div>
    
    <div class="row-fluid">
      <div class="span12">
        <div class="survey-details">
          <div class="cust-title">
            <i class="icon-truck" style="font-size: 28px ; margin-right: 10px;margin-top: 2px;"></i> <span>Connection</span>
            </div>
          <div class="cust-content">
          	<div class="content-login">
            <h3>Welcome {{request.user.employeemaster.firstname}}</h3><br/>
            	
                
<form method="POST">
Origin Service Centre:
{%if origin_sc%}
{{origin_sc}}
<input type="hidden" value="{{origin_sc.id}}" name="origin_sc" class="origin_sc">
{%else%}
<select name="origin_sc" class="origin_sc">
                  <option>Select Origin</option>
{% for a in service_centre %}
                <option value="{{a.id}}">{{a.center_shortcode}}</option>
{% endfor %}
                </select>

{%endif%}
<br>

               <select name="coloader" class="coloader">                  
                   <option>Select Coloader</option>
{% for a in coloader %}
                <option value="{{a.id}}">{{a.name}}</option>
{% endfor %}
                </select>
               <select name="dest" id="dest">
                  <option>Select Destination</option>
{% for a in service_centre %}
                <option value="{{a.id}}">{{a.center_shortcode}}</option>
{% endfor %}
                </select>
 
              
                <input type="text" name="vehicle" placeholder="Vehicle Number" class="vehicle_num" style="width:108px; height:30px"/>
                <input type="button" name="submit" class="btn btn-primary add-connection" value="Create" />   
                
            
            </form>
            </div>
            <table class="table table-hover table-striped table-condensed table-bordered">




                <thead>
                    <tr><th>Connection ID</th><th>DEST</th><th>Coloader</th><th>Vehicle Number</th><th>Total Bags</th><th>Pending Bags</th><th>System Weight</th><th>Date of Dispatch</th><th>Elapsed Time</th><th>Actions</th></tr>
                </thead>
                <tbody>
{% for conn in conn_bags.items %}
{% for t in totalwight.items %}
{% for p in pending_bags.items %}

                <tr><td>{{conn.id}}</td><td>{{conn.destination}}</td><td>{{conn.coloader}}</td><td>{{a.vehicle_number}}</td><a href="#"  title="View bags" onClick="MM_openBrWindow('/hub/connection_bags/{{conn.id}}/','Bags','scrollbars=yes,width=400,height=300')">{{conn.bags.count}}</a> </td>
<td>
<a href="#" title="View bags" onClick="MM_openBrWindow('/hub/connection_bags/{{conn.id}}/','Bags','scrollbars=yes,width=400,height=300')">{{shpmt}}</a> </td>
<td><a href="#" title="View bags" onClick="MM_openBrWindow('/hub/connection_bags/{{conn.id}}/','Bags','scrollbars=yes,width=400,height=300')">{{p}}</a></td>
<td><a href="#" title="View bags" onClick="MM_openBrWindow('/hub/connection_bags/{{conn.id}}/','Bags','scrollbars=yes,width=400,height=300')"> {{ t }}</a> </td>
<td> {{ conn.added_on }} </td>

<td><button class="btn btn-primary include_bags" connection_id="{{a.id}}" id="include_bags{{a.id}}" {% ifequal request.user.employeemaster.user_type 'Staff'%}{% ifequal a.connection_status 4%} disabled="disabled" {%endifequal%}{%endifequal%}> Include Bags</button> &nbsp;<button class="btn btn-primary delink_bags" connection_id="{{a.id}}" id="delink_bags{{a.id}}" {% ifequal request.user.employeemaster.user_type 'Staff'%}{% ifequal a.connection_status 4%} disabled="disabled" {%endifequal%}{%endifequal%}> Delink Bags</button>&nbsp;<a href="#" class="btn btn-primary gen_challan" connection_id="{{a.id}}"> Generate Challan</a>&nbsp;<a href="#" class="btn btn-primary connection" connection_id="{{a.id}}"> Connection</a>&nbsp;<a href="#" class="btn btn-primary download" connection_id="{{a.id}}"> Download</a></td>
<td id="success{{a.id}}">
{% ifequal a.connection_status 4%}
<span class="label label-success">Closed</span>
</td>
                  {%endifequal%}


                </tr>
{%endfor%}
{%endfor%}{%endfor%}
                </tbody>
            </table>
          </div>
    </div><!-- /row-fluid -->
    
    
  </div><!-- /container-fluid -->
             
</div>


<div id="popupContact">  
   
        <a id="popupContactClose">x</a>  

  </div>  


<!-- modal -->
  <div class="modal hide modal-add-revlet" id="add-revlet">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3> Air Waybill </h3>
    </div>
    <div style="height:68px;" class="modal-body">
   		
    </div>
  </div><!--modal end-->




<script>
$(function(){
var fewSeconds = 3;
$(".add-connection").click(function(){
var btn = $(this);
btn.prop('disabled', true);

var coloader=$("select.coloader").val();
var dest=$("select#dest").val();
var vehicle_num=$("input.vehicle_num").val();
var origin_sc=$("input.origin_sc").val();
var table_data = $(".table > tbody").html();
var datastring = "dest="+dest+"&vehicle="+vehicle_num+"&coloader="+coloader+"&origin_sc="+origin_sc;
$.ajax({
type:"POST",
url: "/hub/connection/",
data: datastring,
success: function(resp){
$(".table > tbody").html("")
$(".table > tbody").append(resp);
$(".table > tbody").append(table_data);
setTimeout(function(){
        btn.prop('disabled', false);
    }, fewSeconds*1000);

//alert(resp); 
//location.reload()
}
});
return false;
});



$(".download").click(function(){
var connection_id=$(this).attr("connection_id");
$.ajax({
type:"POST",
url: "/service-centre/download_connection/",
data:"connection_id="+connection_id,
success:function(resp){
window.location = resp;
}
});
});


$(".connection").live("click",function(){

var connection_id=$(this).attr("connection_id");
var datastring = "connection_id="+connection_id;
$.ajax({
type:"POST",
url: "/hub/close_connection/",
data: datastring,
success: function(resp){
$("#success"+connection_id+"").html("<span class='label label-success'>Closed</span>");
{% ifequal request.user.employeemaster.user_type 'Staff'%}
$("#include_bags"+connection_id+"").attr("disabled", "disabled");
$("#delink_bags"+connection_id+"").attr("disabled", "disabled");
{%endifequal%}

//alert("Connection Closed");
//location.reload() 
}
});

     return false;
});




});

</script>




{% endblock %}
