    <div class="modal-header cust-title" style="width: 872px; ">
      <a class="close" data-dismiss="modal">×</a>
      <div>
      <font style="color:#fff; font-size:24px;"> Include Shipment </font> &nbsp;<div style="display:inline-block"><font style="color:#fff; font-size:14px;">Airway Bill:</font><input name="awb"  id="awb_scan" class="awb" style=" width:100px" type="text" size="9"/> 
      <font style="color:#fff; font-size:14px;">Octroi Value:</font><input name="awb" id="shipment_count" class="oct" style=" width:40px" type="text" size="9"/>
 <input type="button" class=" btn btn-primary add_ship" value="ADD" style="margin-top:-10px"&gt;/>  
          <font style="color:#fff; font-size:14px;">Octroi Number:{{oid}}</font>
       </div> 
      </div>
<div class="modal-body">
<table class="table-bag">
<thead>
<tr>
<th>&nbsp;AWB</th>
<th>&nbsp;Shipper</th>
<th>&nbsp;DST</th>
<th>&nbsp;Coll Value</th>
<th>&nbsp;Added On</th>
</tr>
</thead>
<tbody>
   		 {% for a in shipment%}
<tr>
<td>{{a.airwaybill_number}}</td>
<td>{{a.shipper|truncatechars:20}}</td>
<td>{{a.service_centre}}</td>
<td>{{a.collectable_value}}</td>
<td>{{a.added_on|date:" d/m/Y    G:i"}}</td>
</tr>
   		 {% endfor%}
</tbody>
</table>
    </div>
    </div>

<script>
$(function(){
$("#awb_scan").focus();
$(".add_ship").click(function(){


var awb=$("input.awb").val();
var oct_val = $("input.oct").val();
var table_data = $(".table-bag > tbody").html();
var datastring = "awb="+awb+"&oct_val="+oct_val;
$.ajax({
type:"POST",
url: "/hub/include_shipment_oct/{{oid}}/",
data: datastring,
success: function(resp){
$("#awb_scan").val("");
if (resp==1) {
alert("Already exists");
}
else if (resp=="Incorrect Shipment Number"){
alert("Shipment Misrouted "+awb);
} else {
$(".table-bag > tbody").html("")
$(".table-bag > tbody").append(resp);
$(".table-bag > tbody").append(table_data);

}
}
});
    $("#awb_scan").val("");
     $("#awb_scan").focus();
 
     return false;


});
});
</script>

