{% load activity_tags %}
{% load projects_tags %}
{% load account_tags %}
{% load story_tags %}

<hr style="color: #ddd; background-color: #ddd; height: 1px;"/>
<a style="color: #F3764F; font-size:165%; font-weight:bold; text-decoration:none" href="{{domain}}{% url "project_detail"  project.slug %}">{{ project.name }}</a><br/>
<img src="{{project|google_chart_url}}"><br/>

{% for iteration in project.get_current_iterations %}
  <a style="color: #F3764F; font-size:115%; font-weight:bold; text-decoration:none" href="{{domain}}{% url "iteration"  project.slug iteration.id %}">{{ iteration.name }}</a><br/>
  {% if iteration.daysLeft %}
  <b>{{ iteration.daysLeft }}</b> days left,
  {% endif %}
  <b>{{ iteration.total_points }}</b> total points,
  <b>{{ iteration.completed_points }}</b> points completed<br/>
  
  <img src="{{iteration|google_chart_url}}"><br/>
 
{% endfor %}



