{% extends "base.html" %}

{% block content %}
<style>
.cs_instruction td{background: #FFCCCC}
</style>

<div id="wrap">
  
  <div class="container-fluid main" role="main" id="main">
  <div class="row-fluid">
    <div class="span12">
        <div class="add-details pull-right">
        <!-- <a href="#" data-rev-action="modal" data-target="#add-revlet" rel="tooltip" title="Generate New Airway Bill"><i class="icon-plus-sign"> </i>Request </a> &nbsp; &nbsp;-->
{% if request.user.employeemaster.user_type == "Customer"%}
  <a href="/track_me/multiple_airwaybill/?awb={{shipment.airwaybill_number}}&order={{shipment.order_number}}"title="Generate New Airway Bill"><i class="icon-truck"> </i>Multiple Air waybill </a> &nbsp; &nbsp;

{%else%}

<a href="/track_me/?awb={{shipment.airwaybill_number}}&order={{shipment.order_number}}" title="Generate New Airway Bill"><i class="icon-signin"> </i>Status &amp; Scan </a> &nbsp; &nbsp;
         <a href="/track_me/shipper_consignee/?awb={{shipment.airwaybill_number}}&order={{shipment.order_number}}" title="Generate New Airway Bill"><i class="icon-briefcase"> </i>Shipper-Consignee </a> &nbsp; &nbsp;
         <a href="/track_me/pickup_package/?awb={{shipment.airwaybill_number}}&order={{shipment.order_number}}"title="Generate New Airway Bill"><i class="icon-truck"> </i>Pickup Package </a> &nbsp; &nbsp;
         <a href="/track_me/comments/?awb={{shipment.airwaybill_number}}&order={{shipment.order_number}}"title="Generate New Airway Bill"><i class="icon-truck"> </i>Comments </a> &nbsp; &nbsp;
         <a href="/track_me/multiple_airwaybill/?awb={{shipment.airwaybill_number}}&order={{shipment.order_number}}"title="Generate New Airway Bill"><i class="icon-truck"> </i>Multiple Air waybill </a> &nbsp; &nbsp;
         <a href="/track_me/generic_query/?awb={{shipment.airwaybill_number}}&order={{shipment.order_number}}"title="Generate New Airway Bill"><i class="icon-truck"> </i>Generic Query </a>
          <a href="/track_me/complaints/?awb={{shipment.airwaybill_number}}&order={{shipment.order_number}}" title="Generate New Airway Bill"><i class="icon-truck"> </i>Complaints</a>  &nbsp; &nbsp;
{%endif%}
        </div>
    </div>
  </div>
    
    <div class="row-fluid">
      <div class="span12">
	<form name="track" id="trackmeForm" action="." method="GET">
	<div>
		<b>Waybill No</b><input class="awb" name="awb" type="text" value="{{shipment.airwaybill_number}}" />
		<b>Order No.</b><input class="order" name="order" type="text" value="{{shipment.order_number}}" /> 
                <input class="clear btn btn-primary" name="clear" type="button" value="clear">
                <br/>
                <input type="checkbox" name="reverse_shipment" value="reverse_shipment"> Reverse Shipment<br/>
		    {%if complaint_status%}
                {%ifequal complaint_status.status 0%}
<i class="icon-warning-sign" style="color:red; font-size:30px;"> </i>
                {%endifequal%}
                {%endif%}
	</div>
        </form>
        {% include "track_me/trackme_shipment_details.html" %}
        <div class="survey-details">
          <div class="cust-title">
            <i class="icon-signout" style="font-size: 28px ; margin-right: 10px;margin-top: 2px;"></i> <span>Status Scan</span>
           <!-- <div class="pull-right"><form><input type="text" placeholder="Airway Bill No."/></form></div>-->
          </div>
          <div class="cust-content"><div class="summary-content">
          	<table border="1" bordercolor="#99B" class="table">
              <thead style="background-color: #3731B0; color: white; font-size: 14px;">
                <tr>
                  <th width="150">Date/Time</th>
                  <th>Status</th>
                  <th width="50">Reason Code</th>
                  <th width="100">Service Centre</th>
                  <th width="150">Employee</th>
                </tr>
              </thead>
              <tbody>
              {% for a in history %}
{%if request.user.employeemaster.user_type == "Customer"%}
{%if a.status == 0 or a.status == 1 or a.status == 2 or a.status == 3  or a.status == 4 or a.status == 5 or a.status == 6 or a.status == 7 or a.status == 8 or a.status == 9 or a.status == 13 or a.status == 14 or a.status == 15 or a.status == 17%}
     
           <tr>

                  <td>{{a.updated_on|date:"d M, Y, H:i"}} hrs</td>
                  <td>
                      {%ifequal a.status 0%}{%if a.remarks%}{{a.remarks}}{%else%}Soft data up loaded{%endif%}{%endifequal%}
                      {%ifequal a.status 1%}{%ifequal a.reason_code.code 777%}Shipment redirected: Parent Airwaybill {{a.ref_airwaybill_number}}{%else%}Shipment Picked Up{%endifequal%}{%endifequal%}
                      {%ifequal a.status 2%}{%if a.remarks%}{{a.remarks}}{%else%}Shipment in-scan{%endif%}{%endifequal%}
                      {%ifequal a.status 3%}{{a.remarks}}{%endifequal%}
                      {%ifequal a.status 4%}Shipment in-scan at HUB{%endifequal%}
                      {%ifequal a.status 5%}{{a.remarks}}{%endifequal%}
                      {%ifequal a.status 6%}{%ifequal a.remarks "Delinked from Outscan"%}{{a.remarks}}{%else%}Shipment in-scan at DC{%endifequal%}{%endifequal%}
                      {%ifequal a.status 7%}Shipment out for delivery, assigned to Employee {{a.remarks}}{%endifequal%}
                      {%ifequal a.status 8%}{%ifequal a.reason_code.code 333%}Shipment Lost{%else%}Shipment un-delivered{%endifequal%}{%endifequal%}
                      {%ifequal a.status 9%}Shipment delivered{%endifequal%}
                      {%ifequal a.status 13%}{{a.remarks}}{%endifequal%}
                      {%ifequal a.status 14%}Shipment out-scan to network from PPC{%endifequal%}
    {%ifequal a.status 15%}Shipment out-scan to network from HUB{%endifequal%}
{%ifequal a.status 17%}{{a.remarks}}{%endifequal%}

                  </td>
                  
                  <td>{%if a.reason_code %}{{a.reason_code}}{%endif%}</td>
                  <td>{{a.current_sc.center_shortcode}}</td>
                  <td>{{a.employee_code}}</td>
                  
                </tr>
{%endif%}
{%else%}
<tr {%ifequal a.status 11%}class="cs_instruction"{%endifequal%} {%ifequal a.status 16%}class="cs_instruction"{%endifequal%} {%ifequal a.status 20%}class="cs_instruction"{%endifequal%} >

                  <td>{{a.updated_on|date:"d M, Y, H:i"}} hrs</td>
                  <td>
                      {%ifequal a.status 0%}{%if a.remarks%}{{a.remarks}}{%else%}Soft data up loaded{%endif%}{%endifequal%}
{%ifequal a.status 1%}{%ifequal a.reason_code.code 777%}Shipment redirected: Parent Airwaybill {{a.shipment.ref_airwaybill_number}}{%else%}Shipment Picked Up{%endifequal%}{%endifequal%}                    
  {%ifequal a.status 2%}{%if a.remarks%}{{a.remarks}}{%else%}Shipment in-scan{%endif%}{%endifequal%}
                      {%ifequal a.status 3%}{{a.remarks}}{%endifequal%}
                      {%ifequal a.status 4%}Shipment in-scan at HUB{%endifequal%}
                      {%ifequal a.status 5%}{{a.remarks}}{%endifequal%}
                      {%ifequal a.status 6%}{%ifequal a.remarks "Delinked from Outscan" %}{{a.remarks}}{%else%}Shipment in-scan at DC{%endifequal%}{%endifequal%}
                      {%ifequal a.status 7%}Shipment out for delivery, assigned to Employee {{a.remarks}}{%endifequal%}
                      {%ifequal a.status 8%}{%ifequal a.reason_code.code 333%}Shipment Lost{%else%}Shipment un-delivered{%endifequal%}{%endifequal%}
                      {%ifequal a.status 9%}Shipment delivered{%endifequal%}
                      {%ifequal a.status 11%}Customer Instruction: {{a.remarks}}{%endifequal%}
                      {%ifequal a.status 16%}Comments: {{a.remarks}}{%endifequal%}
                      {%ifequal a.status 12%}Complaint{%endifequal%}
                      {%ifequal a.status 13%}{{a.remarks}}{%endifequal%}
                      {%ifequal a.status 20%}Tele Comments:{{a.remarks}} {%endifequal%}
                      {%ifequal a.status 14%}Shipment out-scan to network from PPC{%endifequal%}
    {%ifequal a.status 15%}Shipment out-scan to network from HUB{%endifequal%}
{%ifequal a.status 17%}{{a.remarks}}{%endifequal%}

                  </td>

                  <td>{%if a.status == 11 or a.status == 16%}{%else%}{%if a.reason_code %}{{a.reason_code}}{%endif%}{%endif%}</td>
                  <td>{{a.current_sc.center_shortcode}}</td>
                  <td>{{a.employee_code}}</td>

                </tr>
{%endif%}
                {% endfor %}
              </tbody>
            </table>
            </div>
          
            
          </div>
        </div>
      </div>
    </div><!-- /row-fluid -->
    
  </div><!-- /container-fluid -->
             
</div>
<script>
$(document).ready(function(e){
    $(".awb").focus();
    $(".order").change(function(e){
        $("#trackmeForm").submit();
    });
    $(".awb").change(function(e){
        $("#trackmeForm").submit();
    });
    $(".clear").click(function(e){
        $(".awb").val('');
        $(".order").val('');
    });
});
</script>
{% endblock %}
          	
