<div class="modal-header card-modal epic-modal-header">
    <button type="button" class="close"  ng-click="$dismiss('canceled')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 ng-if="ctrl.iteration.id == -1">New {{::ctrl.windowType}}</h4>
    <h4 ng-if="ctrl.iteration.id != -1">Edit {{::ctrl.windowType}}</h4>
</div>

<!--<div class="modal-body card-modal" ng-include="ctrl.template"></div>-->
<div class="modal-body card-modal">
    <sd-iteration-edit
        project-slug="ctrl.projectSlug"
        iteration-copy="ctrl.iteration"></sd-iteration-edit>
</div>