{% extends "base_signup.html" %}

{% block body %}
    <div class="scrumdo-box-modal-header text-center">
        <h2 class="scrumdo-signup-title">Problem Signing In</h2>
    </div>

    <div class="scrumdo-box-modal-content">
        <p>There was a problem with your login.  The specific error was:
        </p>
        <p>
            {{ errorText }}
        </p>
    </div>

    <div class="scrumdo-box-modal-footer text-center">
        <a href="{% url "google_login_redirect"  %}" class="scrumdo-btn secondary">Try Again</a>
    </div>
{% endblock %}