{% extends "account/base.html" %}
{% load organizations_tags %}

{% load i18n %}
{% load humanize %}
{% load projects_tags %}

{% load avatar_tags %}
{% load activity_tags %}
{% load extras_tags %}
{% load organizations_tags %}

{% load ifsetting_tag %}



{% block head_title %}Account Settings{% endblock %}



{% block body_class %}account-setting{% endblock %}

{% block container_class %}acc-container{% endblock %}

{% block body_app %} id="ng-app" ng-app="AccountSettingsApp" {% endblock %}

{% block body %}
    <sd-account-settings-page></sd-account-settings-page>
{% endblock %}


{% block appinit %}
    scrumdo.setupAccountSettings( "{{ STATIC_URL }}" );
{% endblock %}