{% extends "base_signup.html" %}
{% load bootstrap3 %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div class="scrumdo-box-modal-header text-center">
        <h2 class="scrumdo-signup-title">Reset Password</h2>
        <p class="scrumdo-signup-description">Please check your email.</p>
    </div>


        <div class="scrumdo-box-modal-content">

            <p>We have sent an e-mail to <b>{{ email }}</b>. If you do not receive it within 10 minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.</p>

            {% if email_count > 1 %}
            <div class="alert alert-warn">
                <b>Please Note:</b> we found {{email_count}} accounts with that email address, and have sent separate
                reset requests for each.  Please pay attention to the usernames in those emails and log out between
                using them.
            </div>
            {% endif %}


        </div>

    {% csrf_token %}


{% endblock %}


    
