{% extends "base_signup.html" %}
{% load bootstrap3 %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div class="scrumdo-box-modal-header text-center">
        <h2 class="scrumdo-signup-title">Reset Password</h2>
        <p class="scrumdo-signup-description">Enter your email address and we'll send you a password-reset message.</p>
    </div>

    <form method="POST" action="" class="uniForm">
    {% csrf_token %}
        <div class="scrumdo-box-modal-content">

            {% if user.is_authenticated %}
                <p><span class="warning">Note</span>: you are already logged in as {{ user }}.</p>
            {% endif %}

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                {% bootstrap_form password_reset_form %}
                </div>
            </div>

        </div>

        <div class="scrumdo-box-modal-footer text-center">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <button  type="submit" class="scrumdo-btn secondary extended">Send Reset</button>
                </div>
            </div>
        </div>
    {% csrf_token %}
    </form>

{% endblock %}

