{% extends "base_signup.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
    <div class="scrumdo-box-modal-header text-center">
        <h2 class="scrumdo-signup-title">Change Password</h2>
        <p class="scrumdo-signup-description">Enter a new password.</p>
    </div>

    
    {{ initial }}
    
    {% if form %}

        <form method="POST" action="" class="uniForm">
        {% csrf_token %}


            <div class="scrumdo-box-modal-content">



            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                {% bootstrap_form form %}
                </div>
            </div>

        </div>





        <div class="scrumdo-box-modal-footer text-center">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <input class="scrumdo-btn secondary" type="submit" name="action" value="{% trans "Change password" %}"/>
                </div>
            </div>
        </div>
        </form>
    {% else %}
        Your password is now changed.
    {% endif %}
{% endblock %}