<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load projects_tags %}{% load activity_tags %}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">

<!-- body -->
<div class="heading" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 1.6; font-weight: bold; background: #32383E; margin: 0; padding: 4px 10px;">
	<span style="color: #FFFFFF; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">Scrum</span><span style="color: #F3764F; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">Do</span>
</div>

<table class="body-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 20px;">
    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">
    	<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>
		<td colspan="3" class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 700px !important; clear: both !important; margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">
			<!-- content -->
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 700px; display: block; margin: 0 auto; padding: 0;">
                <div style="text-align: center">
                    <img alt="ScrumDo" title="ScrumDo" src="{{STATIC_URL}}img/ScrumDoSignupLogo.png" style="max-width: 200px;" />
                    <br/>
                </div>

                <div style="text-align: center;margin-top:10px;">
                  <h1>Welcome To ScrumDo!</h1>
                    <p>
                        Hi there! Thanks for signing up!<br/><br/>
                        Our mission is to help build great teams and organizations, so your success is our success.<br/>
                        You can ask questions or find this message again by clicking the gear menu in the upper right corner 
                        in ScrumDo and selecting the option for "Help/Support."<br/>
                        Here's a few quick links to help get you started:
                    </p>
                  <br/>

                    <table style="width: 100%">
                        <tr>
                            <td>
                                <a href="http://help.scrumdo.com/" style="color: #333333; text-decoration: none">
                                    <img src="{{ STATIC_URL }}images/email/welcome3.png">
                                    <br/>
                                    Help
                                </a>
                            </td>

                            <td>
                                <a href="http://help.scrumdo.com/getting-started/scrumdo-and-scrum/" style="color: #333333; text-decoration: none">
                                    <img src="{{ STATIC_URL }}images/email/welcome1.png">
                                    <br/>
                                    Scrum Guide
                                </a>
                            </td>

                            <td>
                                <a href="http://www.codegenesys.com/tag/scrumdo/" style="color: #333333; text-decoration: none">
                                    <img src="{{ STATIC_URL }}images/email/welcome2.png">
                                    <br/>
                                    Blog
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
			<!-- /content -->
		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>
	</tr>
</table>

<table class="footer-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; clear: both !important; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>
		<td class="container" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 700px !important; clear: both !important; margin: 0 auto; padding: 0;">

			<!-- content -->
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 700px; display: block; margin: 0 auto; padding: 0;">
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"><td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">
							<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;">
					            <a href="https://www.facebook.com/scrumdo" style="font-style: normal; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #999; margin: 0; padding: 0;">
	                                <img src="{{STATIC_URL}}images/facebook.png" width="32" height="32" alt="facebook" border="0" style="display: inline; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; margin: 0; padding: 0;" /></a>
	                               
	                            <a href="https://twitter.com/scrumdo" style="font-style: normal; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #999; margin: 0; padding: 0;">
	                                <img src="{{STATIC_URL}}images/twitter.png" width="32" height="32" alt="twitter" border="0" style="display: inline; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; margin: 0; padding: 0;" /></a>
	                               
	                            <a href="http://www.linkedin.com/groups/ScrumDo-3749739" style="font-style: normal; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #999; margin: 0; padding: 0;">
	                                <img src="{{STATIC_URL}}images/linkedin.png" width="32" height="32" alt="linkedin" border="0" style="display: inline; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; margin: 0; padding: 0;" /></a>

							</p>
							<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;">
								<a href="https://app.scrumdo.com/email/email_config" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #999; margin: 0; padding: 0;">Manage Email Preferences</a>.
							</p>
						</td>
					</tr>
                </table>
            </div>
		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>
	</tr></table><!-- /footer --></body>
</html>

