{% load projects_tags %}

<div class="testimonials">

    <div class="quote"><!--Start of Quote-->
        <img src="{{STATIC_URL}}images/addons/quotation-mark.png" alt="quotation mark" class="quotation-mark" />
        <p>ScrumDo Github Integration gives our scrum team great visibility into what check ins are happening to our stories and sprints <br/></p>
        <br/> <br/>  <br/>
        <p><strong>Nate Aune, Founder, AppSembler, Tech Star, 2012</strong></p>
    </div><!--End of Quote-->

    <div class="quote"><!--Start of Quote-->
        <img src="{{STATIC_URL}}images/addons/quotation-mark.png" alt="quotation mark" class="quotation-mark" />
        <p>I can vouch for the phenomenal change that ScrumDo has helped effect at Quality Tech.
            We are the largest private data center and one of the largest cloud services provider. In just a few months we have seen a huge improvement in all our product delivery times and quality with the incorporation of ScrumDo as our Agile tool. </p>

        <p><strong>David Sung, Executive Vice President, Quality Tech</strong></p>
    </div><!--End of Quote-->

    <br class="clear" />

</div>
