{% load projects_tags %}

<div class="description">
    <h4>What is ScrumDo</h4>
    <h5> ScrumDo is an Agile/Scrum story management application. It's a lean tool that helps you get things done, not an enterprise behemoth with Scrum as an afterthought.</h5>

    <ul>
        <h5><li> {% silk "accept" %}  Multi-user Planning Poker  </li></h5>
        <h5><li> {% silk "accept" %}  Innovative Iteration Planning </li></h5>
        <h5><li> {% silk "accept" %} Epic, Story, Task Management</li></h5>
        <h5><li> {% silk "accept" %} Import & Export to XLS & RSS</li></h5>
        <h5><li> {% silk "accept" %}  News Feeds & Custom e-mail management for Projects, Sprints, Epics, Stories, Tasks </li></h5>
        <h5><li> {% silk "accept" %} Scrum Log for Daily Scrums, Retrospectives, Sprint Reviews, Sprint Planning meetings</li></h5>
        <h5><li> {% silk "accept" %} Sprint Reviews, Sprint Planning</li></h5>
        <h5><li> {% silk "accept" %} API and Addons</li></h5>
        <h5><li> {% silk "accept" %} Very fast cloud infrastructure, 99.9% uptime</li></h5>
    </ul>



</div>