.git
tests
protractor
jasmine
cron-scripts
*.db
scrumdo_web/local_settings.*

*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc

*.psd
*/*.psd
*/*/*.psd
*/*/*/*.psd
*/*/*/*/*.psd
*/*/*/*/*/*.psd

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store


env
env*

*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules

.idea
