Django==1.9.11

BeautifulSoup==3.2.1
Markdown==2.0.3
MySQL-python==1.2.5
Pillow==2.6.0
PyYAML==3.10
Werkzeug==0.6.2
amqplib==1.0.2
boto==2.4.1

chardet==1.0.1
django-extensions==1.6.6
django-gravatar==0.1.0

# Need this one until Django 1.9 support is offically in:
git+https://git@github.com/django-haystack/django-haystack.git@f1ed18313777005dd77ed724ecbfb27c0b03cad8
#django-haystack==2.4.0

django-mailer==0.1.0
django-markup==0.3
django-messages==0.4.4
django-notification==0.1.4
django-picklefield==0.2.1
django-storages==1.1.4
https://github.com/ScrumDoLLC/scrumdo-dependencies/raw/master/elementtree-1.2.7-20070827-preview.zip
pysolr==3.2.0
python-dateutil==1.5
python-openid==2.2.4
rsa==3.0.1
slumber==0.7.1
textile==2.1.3
vobject==0.8.2
wsgiref==0.1.2
pyparsing==1.5.6
requests==2.7.0
django-bootstrap-toolkit
django-bootstrap3==6.2.2
rollbar
pubnub==3.3.1
mailchimp
python-intercom==2.1.1
PyJWT

newrelic==2.72.0.52

# Requirements for celery[redis]:
amqp>1.4.6,<1.5
anyjson==0.3.3
billiard>3.3.0.19,<3.4
celery==3.1.25
kombu>3.0.24,<3.1
pytz==2014.10
redis==2.10.3
django-redis==4.3.0

django-model-utils==2.2

mixpanel-py==4.0.2
hiredis
uwsgi==2.0.13.1

email_reply_parser
django-ignoretests2
cssselect==0.9.1
#lxml==3.5.0


# These are for the HTML diff in inbox
html5lib==0.9999999
htmldiff==0.1
Genshi==0.7

# To support AWS elastic search:
elasticstack==0.4.0
elasticsearch==2.2.0
requests-aws4auth==0.9

mock==2.0.0
