{% extends "base_signup.html" %}

{% block title %}Welcome Back!{% endblock %}

{% block body %}
    <div class="scrumdo-box-modal-header text-center">
        <h2 class="scrumdo-signup-title">Oops</h2>
    </div>
    <div class="scrumdo-box-modal-content">
        <p>
            Well, this is embarrasing.  The code that was embedded in your email isn't working.
            If you already used it, you can just <a href="/">go to your account</a>.
        </p>
        <p>
            If not, send us an email and we'll fix it.
            <a href="mailto:support@scrumdo.com">support@scrumdo.com</a>
        </p>
    </div>
{% endblock %}