{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load order_by %}

{% block body_div_class %}narrow_body_with_sidebar{% endblock %}

{% block head_title %}{% trans "Scrumdo - Affilate Page" %}
{% endblock %}


{% block body %}
<div id="affiliates">
<h1 >
TERMS OF SERVICE
</h1>

<p>
By signing up to be an Affiliate in the ScrumDo Affiliate Program ("Program") you are agreeing to 
be bound by the following terms and conditions ("Terms of Service").
</p>
<p>
ScrumDo LLC in Boston, MA is the owner of ScrumDo a web-based software application and related 
documentation. ScrumDo LLC reserves the right to update and change the Terms of Service from time to 
time without notice. Any new features that augment or enhance the current Program, including the 
release of new tools and resources, shall be subject to the Terms of Service. Continued use of the 
Program after any such changes shall constitute your consent to such changes. You can review the 
most current version of the Terms of Service at any time at: http://www.scrumDo.com/affiliates/terms
Violation of any of the terms below will result in the termination of your Account and for 
forfeiture of any outstanding affiliate commission payments earned during the violation. 
You agree to use the Affiliate Program at your own risk.
</p>
<h2>Account Terms</h2>
<ol>
<li>You must be 18 years or older to be part of this Program.</li>
<li>You must live in the United States to be an Affiliate. </li>
<li>You must be a human. Accounts registered by "bots" or other automated methods are not permitted.</li>
<li>You must provide your legal full name, a valid email address, and any other information 
requested in order to complete the signup process.</li>
<li> Your login may only be used by one person - a single login shared by multiple people 
is not permitted. You may create separate logins for as many people as you'd like.</li>
<li>You are responsible for maintaining the security of your account and password. ScrumDo LLC 
cannot and will not be liable for any loss or damage from your failure to comply with this 
security obligation.</li>
<li>You are responsible for all Content posted and activity that occurs under your account 
(even when Content is posted by others who have accounts under your account).</li>
<li>One person or legal entity may not maintain more than one account.</li>
<li>You may not use the Affiliate Program for any illegal or unauthorized purpose. You must not, 
in the use of the Service, violate any laws in your jurisdiction (including but not limited to 
copyright laws).</li>
<li>You may not use the Affiliate Program to earn money on your own ScrumDo LLC product accounts.</li>
</ol>

<h2>Links/graphics on your site, in your emails, or other communications</h2>
<p>
Once you have signed up for the Affiliate Program, you will be assigned a unique Affiliate Code 
within your account. You are permitted to place links, banners, or other graphics we provide with 
your Affiliate Code on your site, in your emails, or in other communications. We will provide you 
with guidelines, link styles, and graphical artwork to use in linking to ScrumDo. We may change the 
design of the artwork at any time without notice, but we won't change the dimensions of the images 
without proper notice.
To permit accurate tracking, reporting, and referral fee accrual, we will provide you with special 
link formats to be used in all links between your site and the Product Sites. You must ensure that 
each of the links between your site and the Product Sites properly utilizes such special link formats.
Links to the Product Sites placed on your site pursuant to this Agreement and which properly utilize 
such special link formats are referred to as "Special Links." You will earn referral fees only with 
respect to sign-ups on a ScrumDo LLC product site occurring directly through Special Links; 
we will not be liable to you with respect to any failure by you or someone you refer to use Special 
Links or incorrectly type your Affiliate Code, including to the extent that such failure may result 
in any reduction of amounts that would otherwise be paid to you pursuant to this Agreement.
Affiliate links must point to the home page of the product being promoted. Deep links, or links to 
other pages inside the product site will not earn credit.
</p>

<h2>Referral fees/commissions and payment</h2>
<p>
For a Product sale to be eligible to earn a referral fee, the customer must click-through a Special 
Link from your site, email, or other communications to a Product Site and sign up for the product 
during that session. The session ends once someone closes their web browser, navigates away from the 
Product Site, or otherwise leaves the Product Site without signing up for a product before leaving 
the site. If they leave the site, come back later on their own, and then purchase a product, you 
will not earn a commission.
</p>
<p>
For a Product sale can also be eligible to earn a referral fee, if the customer enters your 
Affiliate Code at the time of signup. You will only earn referral fees with respect to customers 
who sign up for a ScrumDo service using your Affiliate Code. We will not be liable to you with 
respect to any failure by you or someone you refer who incorrectly types your Affiliate Code, 
including to the extent that such failure may result in any reduction of amounts that would 
otherwise be paid to you pursuant to this Agreement. If a customer purchases a ScrumDo service 
without inputting your Affiliate Code, you will not earn a referral fee. For 12 months, half of all 
revenue generated from those users is credited to the affiliate.
</p>
<p>
We will notify all Affiliates 30 days prior to a commission structure change. Commissions 
earned under the previous structure will be paid under the previous structure. Commissions under 
the new structure will be paid under the new structure.
</p>
<p>
We will only pay commissions on links that are automatically tracked and reported by our systems. 
We will not pay commissions if someone says they signed up or someone says they entered a referral 
code if it was not tracked by our system. We can only pay commissions on business generated through 
properly formatted special links that were automatically tracked by our systems.
</p>

<p>
We reserve the right to disqualify commissions earned through fraudulent, illegal, or overly 
aggressive, questionable sales or marketing methods.
</p>

<p>
<b>
Payments only begin once you've earned more than $100 in affiliate income. If your affiliate 
account never crosses the $100 threshold, your commissions will not be realized or paid. 
We are only responsible for paying accounts that have crossed the $100 threshold. 
</b>
</p>

<h2>Payments by Paypal</h2>
<p>
Commissions are paid by PayPal and only by Paypal. We can not send checks, credit cards, or 
send cash. You are required to have an Paypal  account to receive commissions. If you don't have an 
PayPal account you can sign up for one at any time, but you will not be paid until you have one.
</p>

<h2>Identifying yourself as a ScrumDo Affiliate</h2>
<p>
You may not issue any press release with respect to this Agreement or your participation in the 
Program; such action may result in your termination from the Program. In addition, you may not in 
any manner misrepresent or embellish the relationship between us and you, say you develop our 
products, say you are part of ScrumDo, or express or imply any relationship or affiliation between 
us and you or any other person or entity except as expressly permitted by this Agreement 
(including by expressing or implying that we support, sponsor, endorse, or contribute money to any 
charity or other cause).
</p>
<p>
You may not purchase products through your affiliate links for your own use. Such purchases 
may result (in our sole discretion) in the withholding of referral fees and/or the termination of 
this Agreement.
</p>

<h2>Payment schedule</h2>
<p>
As long as your current affiliate earning are over $100, you'll be paid roughly every 30 days. 
If you haven't earned $100 since your last payment, we'll pay you roughly 30 days after you've 
crossed the threshold. Payments are only made via PayPal.
</p>

<h2>Customer definition</h2>
<p>
Customers who buy products through this Program will be deemed to be our customers. Accordingly, 
all of our rules, policies, and operating procedures concerning customer orders, customer service, 
and product sales will apply to those customers. We may change our policies and operating procedures 
at any time. For example, we will determine the prices to be charged for products sold under this 
Program in accordance with our own pricing policies. Product prices and availability may vary from 
time to time. Because price changes may affect Products that you have listed on your site, you 
should not display product prices on your site. We will use commercially reasonable efforts to 
present accurate information, but we cannot guarantee the availability or price of any particular 
product.
</p>

<h2>Your responsibilities</h2>
<p>
You will be solely responsible for the development, operation, and maintenance of your site and for 
all materials that appear on your site. For example, you will be solely responsible for:
</p>
<ul>
<li>The technical operation of your site and all related equipment</li>
<li>Ensuring the display of Special Links on your site does not violate any agreement between you 
and any third party (including without limitation any restrictions or requirements placed on you 
by a third party that hosts your site)</li>
<li>The accuracy, truth, and appropriateness of materials posted on your site (including, 
among other things, all Product-related materials and any information you include within or 
associate with Special Links)</li>
<li>Ensuring that materials posted on your site do not violate or infringe upon the rights of any 
third party (including, for example, copyrights, trademarks, privacy, or other personal or 
proprietary rights)</li>
<li>Ensuring that materials posted on your site are not libelous or otherwise illegal</li>
<li>Ensuring that your site accurately and adequately discloses, either through a privacy policy or 
otherwise, how you collect, use, store, and disclose data collected from visitors, including, 
where applicable, that third parties (including advertisers) may serve content and/or advertisements 
and collect information directly from visitors and may place or recognize cookies on visitors' 
browsers.</li>
</ul>

<h2>Compliance with Laws</h2>
<p>
As a condition to your participation in the Program, you agree that while you are a Program 
participant you will comply with all laws, ordinances, rules, regulations, orders, licenses, 
permits, judgments, decisions or other requirements of any governmental authority that has 
jurisdiction over you, whether those laws, etc. are now in effect or later come into effect 
during the time you are a Program participant. Without limiting the foregoing obligation, you agree 
that as a condition of your participation in the Program you will comply with all applicable laws 
(federal, state or otherwise) that govern marketing email, including without limitation, the CAN-SPAM 
Act of 2003 and all other anti-spam laws.
</p>

<h2>Term of the Agreement and Program</h2>
<p>
The term of this Agreement will begin upon our acceptance of your Program application and will end 
when terminated by either party. Either you or we may terminate this Agreement at any time, with or 
without cause, by giving the other party written notice of termination. Upon the termination of this 
Agreement for any reason, you will immediately cease use of, and remove from your site, all links 
to any Product Site, and all of our trademarks, trade dress, and logos, and all other materials 
provided by or on behalf of us to you pursuant hereto or in connection with the Program. 
ScrumDo LLC reserves the right to end the Program at any time. Upon program termination, 
ScrumDo LLC will pay any outstanding earnings accrued above $100.
</p>

<h2>Termination</h2>
<p>
ScrumDo LLC, in its sole discretion, has the right to suspend or terminate your account and 
refuse any and all current or future use of the Program, or any other ScrumDo service, for any 
reason at any time. Such termination of the Service will result in the deactivation or deletion 
of your Account or your access to your Account, and the forfeiture and relinquishment of all 
potential or to-be-paid commissions in your Account if they were earned through fraudulent, 
illegal, or overly aggressive, questionable sales or marketing methods. ScrumDo LLC reserves 
the right to refuse service to anyone for any reason at any time.
</p>

<h2>Relationship of Parties</h2>
<p>
You and we are independent contractors, and nothing in this Agreement will create any partnership, 
joint venture, agency, franchise, sales representative, or employment relationship between the 
parties. You will have no authority to make or accept any offers or representations on our behalf. 
You will not make any statement, whether on your site or otherwise, that reasonably would contradict 
anything in this Section.
</p>

<h2>Limitations of Liability</h2>
<p>
We will not be liable for indirect, special, or consequential damages (or any loss of revenue, 
profits, or data) arising in connection with this Agreement or the Program, even if we have been 
advised of the possibility of such damages. Further, our aggregate liability arising with respect 
to this Agreement and the Program will not exceed the total referral fees paid or payable to you 
under this Agreement.
</p>

<h2>Disclaimers</h2>
<p>
We make no express or implied warranties or representations with respect to the Program or 
any products sold through the Program (including, without limitation, warranties of fitness, 
merchantability, noninfringement, or any implied warranties arising out of a course of performance, 
dealing, or trade usage). In addition, we make no representation that the operation of the Product 
Sites will be uninterrupted or error-free, and we will not be liable for the consequences of any 
interruptions or errors.
</p>

<h2>Independent Investigation</h2>
<p>
YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT AND AGREE TO ALL ITS TERMS AND CONDITIONS. 
YOU UNDERSTAND THAT WE MAY AT ANY TIME (DIRECTLY OR INDIRECTLY) SOLICIT CUSTOMER REFERRALS ON 
TERMS THAT MAY DIFFER FROM THOSE CONTAINED IN THIS AGREEMENT OR OPERATE WEB SITES THAT ARE SIMILAR 
TO OR COMPETE WITH YOUR WEB SITE. YOU HAVE INDEPENDENTLY EVALUATED THE DESIRABILITY OF PARTICIPATING 
IN THE PROGRAM AND ARE NOT RELYING ON ANY REPRESENTATION, GUARANTEE, OR STATEMENT OTHER THAN AS SET 
FORTH IN THIS AGREEMENT.
</p>

<h2>Arbitration</h2>
<p>
Any dispute relating in any way to this Agreement (including any actual or alleged breach hereof), 
any transactions or activities under this Agreement or your relationship with us or any of our 
affiliates shall be submitted to confidential arbitration in Massachusetts, USA, except that, to the 
extent you have in any manner violated or threatened to violate our intellectual property rights, 
we may seek injunctive or other appropriate relief in any state or federal court in the state of 
Virginia (and you consent to non-exclusive jurisdiction and venue in such courts) or any other 
court of competent jurisdiction. Arbitration under this agreement shall be conducted under the 
rules then prevailing of the American Arbitration Association. The arbitrator's award shall be 
binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest 
extent permitted by applicable law, no arbitration under this Agreement shall be joined to an 
arbitration involving any other party subject to this Agreement, whether through class arbitration 
proceedings or otherwise.
</p>

<h2>Miscellaneous</h2>
<p>
This Agreement will be governed by the laws of the United States and the state of Massachusetts, 
USA, without reference to rules governing choice of laws. You may not assign this Agreement, by 
operation of law or otherwise, without our prior written consent. Subject to that restriction, 
this Agreement will be binding on, inure to the benefit of, and be enforceable against the parties 
and their respective successors and assigns. Our failure to enforce your strict performance of any 
provision of this Agreement will not constitute a waiver of our right to subsequently enforce such 
provision or any other provision of this Agreement.
</p>
<p>
The failure of ScrumDo LLC to exercise or enforce any right or provision of the Terms of Service 
shall not constitute a waiver of such right or provision. The Terms of Service constitutes the 
entire agreement between you and ScrumDo LLC and govern your use of the Service, superseding any 
prior agreements between you and ScrumDo LLC (including, but not limited to, any prior versions of 
the Terms of Service).
</p>
<input type="button" value="Accept" id="accept_button" />
</div>
<script>
$("#accept_button").click(function(){window.location = "/affiliates/";})
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
{% endblock %}