<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
    <head>
	
		<!-- Google Website Optimizer Control Script -->
		<script>
		function utmx_section(){}function utmx(){}
		(function(){var k='2796063107',d=document,l=d.location,c=d.cookie;function f(n){
		if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.
		length+1,j<0?c.length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
		d.write('<sc'+'ript src="'+
		'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
		+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
		+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
		'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
		</script>
		<!-- End of Google Website Optimizer Control Script -->
		<!-- Google Website Optimizer Tracking Script -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['gwo._setAccount', 'UA-19817142-5']);
		  _gaq.push(['gwo._trackPageview', '/2796063107/test']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<!-- End of Google Website Optimizer Tracking Script -->
		
		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="scrum,tool,agile,software" />

        <title>Online Scrum Tool / Agile Scrum Software</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->

        <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.12.custom.css" />
        <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/commercial_homepage.css" />

        <!--[if IE 7]>    
          <link rel="stylesheet" href="{{STATIC_URL}}css/homepage-ie7.css" />
        <![endif]-->
 
    </head>
    
    <body>
		<div id="homepage_top_section">
			<div class="homepage_container">
				
				<div class="homepage_header">
					<img alt="ScrumDo" id="logo" src="{{STATIC_URL}}images/homepage/logo.png">
				

					<img id="header" src="{{STATIC_URL}}images/homepage/header.png" usemap="#header" border="0" width="671" height="79" alt="" />
					<map id="header" name="header">
					<area rel="facebox" shape="rect" coords="88,0,277,45" href="#introVideo" alt="Introductory Video" title="Introductory Video"    />
					<area shape="rect" coords="275,0,427,45" href="/plans" alt="Plans and Pricing" title="Plans and Pricing"    />
					<area shape="rect" coords="424,0,510,45" href="/account/login/" alt="Login" title="Login"    />
					<area shape="rect" coords="507,0,602,45" href="/account/signup/" alt="Sign Up" title="Sign Up"    />
					<area shape="rect" coords="603,0,666,45" href="http://support.scrumdo.com/" alt="Help" title="Help"    />
					<area shape="rect" coords="669,77,671,79" href="http://www.image-maps.com/index.php?aff=mapped_users_1201110291423221" alt="Image Map" title="Image Map" />
					</map>
				</div>

<!--
			  	<h2>Scrum software for people who get things done</h2>
				<h3>Plays nice with GitHub, Basecamp, Harvest and Jira!</h3>

			  	<h2>The easiest way to manage your Scrum projects.</h2>
				<h3>ScrumDo is designed for scrum, not tacked on as an afterthought like some others...</h3>
-->
				<script>utmx_section("Top Heading")</script>
			  	<h2>Is your scrum more like a scrum don't than a scrum do?</h2>
				</noscript>			

				<script>utmx_section("Top Heading 2")</script>
				<h3>Stay lean and mean with ScrumDo! Join now to use this amazing tool...</h3>
				</noscript>
				
				
				<script>utmx_section("Chalk Board")</script>
				<img alt="When you need more than a spreadsheet, but want to stay lean.  Spend your time developing software, not managing scrum." id="chalkboard" src="{{STATIC_URL}}images/homepage/chalk_board.png" usemap="#chalkboard">
				</noscript>
				<map id="chalkboard" name="chalkboard">
				 <area shape="rect" coords="580,218,840,280" href="/account/signup/" alt="Sign Up" title="Sign Up"    />
				</map>
			</div>
		<div>
			
		<div id="hompage_middle_section">
			<div class="homepage_container middle_container">
				<script>utmx_section("Major Features")</script>
				<table id="major_feature_table">
					<tr>
						<td><img alt="Made for scrum" src="{{STATIC_URL}}images/homepage/madeforscrum.png"><br/><div class="feature_table_text">ScrumDo was made from the ground-up for Scrum. It's a lean tool that helps you get things done, not an enterprise behemoth with Scrum as an afterthought.</div></td>
						<td><img alt="Safe and secure" src="{{STATIC_URL}}images/homepage/safeandsecure.png"><br/><div class="feature_table_text">Your projects are password protected and safe from prying eyes. We perform regular backups to keep your data safe.</div></td>
						<td><a href="/account/signup/"><img alt="Sign up now" src="{{STATIC_URL}}images/homepage/signupnow.png"></a><br/><div class="feature_table_text">It only takes 30 seconds to sign up, you can be up and running with ScrumDo today.</div></td>
					</tr>
				</table>
				</noscript>
				
				<div id="homepage_thumbnail_grid">
					
					<script>utmx_section("Thumbnails")</script>
					<table>
						<tr>
							<td>
								<a rel="facebox" href="{{STATIC_URL}}images/tour/poker.png"><img alt="Planning Poker" src="{{STATIC_URL}}images/homepage/planning_poker_thumb.png"></a><br/>
								<div class="thumbnail_grid_caption">Integrated planning poker to size your stories.</div>
							</td>
							<td>
								<a rel="facebox" href="{{STATIC_URL}}images/tour/scrum_board.png"><img alt="Scrum / Kanban Board" src="{{STATIC_URL}}images/homepage/scrum_board_thumb.png"></a><br/>
								<div class="thumbnail_grid_caption">Visualize progress through your iterations.</div>
							</td>
						</tr>
						<tr>
							<td>
								<a rel="facebox" href="{{STATIC_URL}}images/tour/epics.png"><img src="{{STATIC_URL}}images/homepage/epic_story_thumb.png"></a><br/>
								<div class="thumbnail_grid_caption">Handle your long term planning with epic stories.</div>
							</td>
							<td>
								<a rel="facebox" href="{{STATIC_URL}}images/tour/planning.png"><img src="{{STATIC_URL}}images/homepage/iteration_planning_thumb.png"></a><br/>
								<div class="thumbnail_grid_caption">Drag &amp; Drop stories to plan your iteration.</div>
							</td>
						</tr>
					</table>
					</noscript>
					
					<script>utmx_section("Video Thumbnail")</script>
					<div style="width:100%; text-align:center">
						<br/>
						<img style="margin-left: -80px;" src="{{STATIC_URL}}images/homepage/short_dashed_rule.png">
						<br/><br/>
						
 					    <a href="#introVideo" style="margin-left: -80px;" rel="facebox"><img src="{{STATIC_URL}}images/homepage/youtubePlaceholder.png"></a>
					</div>
					</noscript>

				</div>
				<div id="homepage_testimonials">
					<img src="{{STATIC_URL}}images/homepage/testimonials.png"><br/><br/>
					
					<script>utmx_section("Testimonials")</script>
					<img src="{{STATIC_URL}}images/homepage/head1.png" class="testimonial_head">
					I've been using ScrumDO for months! Before, my activities had no priorities, but now everything is sorted and I know what should I do each week and when I'll be free for next activity.
					Now I'm able to answer <b>"When can I have this done?"</b>
					<div class="testimonial_name">
						Pablo Rausch<br/>
						Argentina 
					</div>
					
					<br/>
					<img src="{{STATIC_URL}}images/homepage/short_dashed_rule.png">
					<br/>
					<img src="{{STATIC_URL}}images/homepage/head2.png" class="testimonial_head">
					I have played with Pivotal Tracker, Rally and AgileZen and so far I am loving ScrumDo. The prediction feature looks very interesting especially if you guys improve it so you can model potential outcomes when first setting up a backlog.
					<div class="testimonial_name">
						Mark Curphey<br/>
						Seattle, USA
					</div>					
					<br/>
					<img src="{{STATIC_URL}}images/homepage/short_dashed_rule.png">
					<br/>
					<img src="{{STATIC_URL}}images/homepage/head3.png" class="testimonial_head">
					This is simply AWESOME! Very very thanks to all of you, one of the best free tools on the web.	I'm driving three projects right now and all is perfect.
					<div class="testimonial_name">
						Diego Fernando Trujillo<br/>
						Cali, Colombia
					</div>
					</noscript>
					<br/>
					<br/>
					
					<script>utmx_section("Twitter")</script>
					<div>
					</noscript>
					
					<script src="http://widgets.twimg.com/j/2/widget.js"></script>
					<script>
					new TWTR.Widget({
					  version: 2,
					  type: 'profile',
					  rpp: 3,
					  interval: 30000,
					  width: 'auto',
					  height: 220,
					  theme: {
					    shell: {
					      background: '#d6d6d6',
					      color: '#3b3b3b'
					    },
					    tweets: {
					      background: '#ffffff',
					      color: '#363636',
					      links: '#447ff5'
					    }
					  },
					  features: {
					    scrollbar: false,
					    loop: true,
					    live: true,
					    behavior: 'default'
					  }
					}).render().setUser('ScrumDo').start();
					</script>
					</div>

				</div>
				
			</div>
		</div>
			
		<div id="homepage_bottom_section">
			<div class="homepage_container footer_highlight">
				<a href="/">Home</a>  |  
				<a rel="facebox" href="#introVideo">Introductory Video</a>  |  
				<a href="/plans">Plans &amp; Pricing</a>  |  
				<a href="/account/login/">Login</a>  |  
				<a href="/account/signup/">Sign Up</a>  |  
				<a href="http://support.scrumdo.com/">Help</a>
				<br/><br/>
				Copyright (C) 2014 ScrumDo, LLC.  ScrumDo is a registered trademark of ScrumDo, LLC.<br/>
				Open source information available at <a class="light_blue_link" href="http://www.scrumdo.org">ScrumDo.org</a>
			</div>
		</div>
		
		<div id="introVideo" style="display:none">
			  <object width="921" height="716"><param name="movie" value="https://www.youtube.com/v/Y86nnpAZ6NA?fs=1&amp;hl=en_US&amp;hd=1&amp;color1=0x234900"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/Y86nnpAZ6NA?fs=1&amp;hl=en_US&amp;hd=1&amp;color1=0x234900" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="921" height="716"></embed></object>
		</div>

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js" ></script>
        <script type="text/javascript" src="{{STATIC_URL}}pinax/js/base.js" ></script>
        <script type="text/javascript" src="{{STATIC_URL}}uni_form/uni-form.jquery.js" ></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.min.js"></script>       
        <script type="text/javascript" src="{{STATIC_URL}}js/facebox.js" ></script>      
<!--
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>  
-->
		<script type="text/javascript">

    
		      $(document).ready(function($) {
			      $('area[rel*=facebox]').facebox({
		              loadingImage: '{{STATIC_URL}}images/facebox/loading.gif',
		              closeImage: '{{STATIC_URL}}images/facebox/closelabel.png'
		          });
		          $('a[rel*=facebox]').facebox({
		              loadingImage: '{{STATIC_URL}}images/facebox/loading.gif',
		              closeImage: '{{STATIC_URL}}images/facebox/closelabel.png'
		          });
				// $("#introVideo").click(function(){  _gaq.push(['_trackEvent',"Watch Video", "Overview"]);   });
		       });
		
			// var _gaq = _gaq || [];
			// 		    _gaq.push(['_setAccount', 'UA-19817142-1']);
			// 		    _gaq.push(['_trackPageview']);
			// 
			// 		    (function() {
			// 		      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			// 		      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			// 		      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			// 		    })();
		</script>


 </body>
</html>
