<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
    <head>
		
		
		<link href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="scrum,tool,agile,software,scrum tool" />

        <title>Online Scrum Tool / Agile Scrum Software</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
	<style type="text/css" media="screen"></style>
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/commercial_homepage_alt.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script type="text/javascript">
	  var _kmq = _kmq || [];
	  var _kmk = _kmk || '03519b5a41c175953eb8c1963e55054f5dc16063';
	  function _kms(u){
	    setTimeout(function(){
	      var d = document, f = d.getElementsByTagName('script')[0],
	      s = d.createElement('script');
	      s.type = 'text/javascript'; s.async = true; s.src = u;
	      f.parentNode.insertBefore(s, f);
	    }, 1);
	  }
	  _kms('//i.kissmetrics.com/i.js');
	  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
	</script>
        <!--[if IE 7]>    
          <link rel="stylesheet" href="{{STATIC_URL}}css/homepage-ie7.css" />
        <![endif]-->
 
    </head>
    
    <body>
		<div id="home_top_half">
			<div class="center-column">
				<img src="{{STATIC_URL}}homepage-alt/logo.png" id="logo">
				<map id="imgmap201291115610" name="imgmap201291115610">
					<area shape="rect" alt="Home" title="" coords="2,1,91,31" href="/" target="" />
					<area shape="rect" alt="Support" title="" coords="95,0,209,32" href="http://support.scrumdo.com/" target="" />
					<area shape="rect" alt="Plans & Pricing" title="" coords="217,2,366,31" href="/plans" target="" />
				</map>

				<img style="border-style: none" usemap="#imgmap201291115610" src="{{STATIC_URL}}homepage-alt/top-bar.png" id="top-bar">
				<div id="login_links">
					<a href="/account/login/">Login</a>  |  
					<a href="/account/signup/">Sign Up</a> 				
				</div>
			
				<div class="right-top-section">
					Spend Your <span class="blue-text">Time</span> <br/>
					Developing Software, <br/>
					not <span class="blue-text">Managing Scrum</span>. <br/>
					<div class="tagline">Get Scrum done with ScrumDo</div>
					<a href="/plans"><img style="border-style: none" src="{{STATIC_URL}}homepage-alt/sign-up-button.png"></a>
				</div>
				
				<div class="left-top-section">
					<img src="{{STATIC_URL}}homepage-alt/main-screenshot.png">
				</div>
				
			</div>
		</div>
		<div id="home_bottom_half">
			<div class="center-column">
				<div class="screenshot-menu-holder">
					<ul class="screenshot-menu">
						<li class="selected"><a class="menu-item" href="#">Planning Poker &reg;</a></li>
						<li><a class="menu-item" href="#">Epic Stories</a></li>
						<li><a class="menu-item" href="#">Scrum Board</a></li>
						<li><a class="menu-item" href="#">Iteration Planning</a></li>
						<li><a class="menu-item" href="#">Release Planning</a></li>
					</ul>
				</div>
				<br style="clear:both" />
				<div class="middle-content">
					<div class="screenshot-blurb active-screenshot">
						<img src="{{STATIC_URL}}homepage-alt/poker-screenshot.png">
						<h1>Planning Poker<sup style="font-size:12px">&reg;</sup></h1>
						<p>Use planning poker with teamates in the room, or across the world to estimate and size your stories.</p>
						<p>Since it's integrated into ScrumDo, there is no copy &amp; pasting your stories to other websites.</p>
						<a class="blue-link" href="/plans">Pricing and signup ➜</a>
					</div>
					<div class="screenshot-blurb">
						<img src="{{STATIC_URL}}homepage-alt/epic-screenshot.png">
						<h1>Epic Tool</h1>
						<p>Use the epic tool to make a high level plan of the work before you start.  Create a hierarchy of tasks to keep your work organized.</p>
						<a class="blue-link" href="/plans">Pricing and signup ➜</a>
					</div>
					<div class="screenshot-blurb">
						<img src="{{STATIC_URL}}homepage-alt/scrumboard-screenshot.png">
						<h1>Scrum Board</h1>
						<p>The Scrum Board gives you a quick way of visually seeing the status of your iteration.  Drag and drop stories into different columns to change their statuses.</p>
						<a class="blue-link" href="/plans">Pricing and signup ➜</a>
					</div>
					<div class="screenshot-blurb">
						<img src="{{STATIC_URL}}homepage-alt/iterationplanning-screenshot.png">
						<h1>Iteration Planning</h1>
						<p>Our iteration planning tool helps you plan out your work and move stories from your backlog into an iteration.</p>
						<p>Compare the amount of work in previous iterations with the current one, so as not to overload your team.</p>
						<a class="blue-link" href="/plans">Pricing and signup ➜</a>
						
					</div>
					<div class="screenshot-blurb">
						<img src="{{STATIC_URL}}homepage-alt/releaseplanning-screenshot.png">
						<h1>Release Planning</h1>
						<p>Create a bigger picture view of your organization's work with our release planning tool.</p>
						<p>Add projects, or parts of projects, to a release to track stats for an entire release.</p>
						<a class="blue-link" href="/plans">Pricing and signup ➜</a>
					</div>
					
				</div>
			</div>
			
			<br style="clear:both;"><br/><br/><br/>
		</div>
		<div id="home_footer">
			<div class="center-column">
			<a href="/">Home</a>  |  
			<a href="/plans">Plans &amp; Pricing</a>  |  
			<a href="/account/login/">Login</a>  |  
			<a href="/account/signup/">Sign Up</a>  |  
			<a href="http://support.scrumdo.com/">Help</a>
			<br/><br/>
			ScrumDo is THE <b>scrum tool</b> for agile teams<br/>
			Copyright (C) 2014 ScrumDo, LLC.  ScrumDo is a registered trademark of ScrumDo, LLC.<br/>
			Planning Poker &reg; is a registered trademark of Mountain Goat Software &reg;<br/>
			</div>
		</div>
		
	<script type="text/javascript" charset="utf-8">		
	
	$(document).ready(function(){
		$(".menu-item").click(function(){
			$(".screenshot-menu li").removeClass("selected");
			$(this).parent().addClass("selected");
			$(".screenshot-blurb").removeClass("active-screenshot");
			$(".screenshot-blurb").eq( $(this).parent().index() ).addClass("active-screenshot");
			
			return false;
		});
	});
	
			var _gaq = _gaq || [];
					    _gaq.push(['_setAccount', 'UA-19817142-1']);
					    _gaq.push(['_trackPageview']);
			
					    (function() {
					      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					    })();
	      var google_conversion_id = 1021662849;
	      var google_custom_params = window.google_tag_params;
	      var google_remarketing_only = true;
	  </script>

	  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
	  <noscript>
	    <div style="display:inline;">
	    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1021662849/?value=0&amp;guid=ON&amp;script=0"/>
	    </div>
	  </noscript>


 </body>
</html>
