<table class='table table-striped table-bordered'>
  <tr>
      <th>Freight Charge</th>
      <th>Fuel Surcharge</th>
      <th>Sdl Charge</th>
      <th>Reverse Charge</th>
      <th>Cod Charge</th>
      <th>Valuable Cargo Handling Charge</th>
      <th>To Pay Charge</th>
      <th>Rto Charge</th>
      <th>Sdd Charge</th>
  </tr>
  <tr>
      <td>{{ freight_charge }}</td>
      <td>{{ fuel_surcharge }}</td>
      <td>{{ sdl_charge }}</td>
      <td>{{ reverse_charge }}</td>
      <td>{{ cod_charge }}</td>
      <td>{{ valuable_cargo_hdling_charge }}</td>
      <td>{{ to_pay_charge }}</td>
      <td>{{ rto_charge }}</td>
      <td>{{ sdd_charge }}</td>
  </tr>
</table>

<table class='table table-striped table-bordered'>
  <tr>
      <th>Remittance Status</th>
      <th>RTS Status</th>
      <th>Billing Done</th>
      <th>Billing Date</th>
  </tr>
  <tr>
      <td>{{ remittance_status }}</td>
      <td>{{ rts_status }}</td>
      <td>{{ billing }}</td>
      <td>{{ billing_date }}</td>
  </tr>
</table>

<table class='table table-striped table-bordered'>
  <tr>
      <th>Product Type</th>
      <th>Origin</th>
      <th>Original Destination</th>
      <th>Customer</th>
      <th>SubCustomer</th>
  </tr>
  <tr>
      <td>{{ product_type }}</td>
      <td>{{ origin }}</td>
      <td>{{ destination_city }}</td>
      <td>{{ customer }}</td>
      <td>{{ subcustomer }}</td>
  </tr>
  <tr>
      <th>Delivery Date</th>
      <th>Inscan Date</th>
      <th>Current Status</th>
      <th>Reason Code</th>
      <th>Ref AWB No</th>
  </tr>
  <tr>
      <td>{{ delivery_date }}</td>
      <td>{{ inscan_date }}</td>
      <td>{{ current_status }}</td>
      <td>{{ reason_code }}</td>
      <td>{{ ref_awb_num }}</td>
   </tr>
  <tr>
      <th>Volumetric Weight Divisor</th>
      <th>Min Weight</th>
      <th>Chargeable Weight</th>
      <th>Actual Weight</th>
      <th>Volumetric Weight</th>
  </tr>
  <tr>
      <td>{{ volumetric_wt_divisor }}</td>
      <td>{{ min_wt }}</td>
      <td>{{ chargeable_wt }}</td>
      <td>{{ actual_weight }}</td>
      <td>{{ volumetric_weight }}</td>
   </tr>
   <tr>
      <th>Collectable Value</th>
      <th>Shipment Date</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
   <tr>
      <td>{{ collectable_value }}</td>
      <td>{{ shipment_date }}</td>
      <td></td>
      <td></td>
      <td></td>
   </tr>
  </table>
