{% extends "base.html" %}
	{% block content %}

{% include "reports/report_header.html" %}
<div id="wrap">
  {%load tags%}
  <div class="container-fluid main" role="main" id="main">
  <div class="row-fluid">
    <div class="span12">
        <div class="pagination pull-left">
        <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
        </ul>
        </div>
        <div class="add-details pull-right">
         
         </div>
         
    </div>
    <div>  <form method="POST" action=".">
		Customer: <select class='cust_name' name='cust_name' style="width: 158px;">
                					{%for a in customer%}
                					<option value="{{a.id}}">{{a}}</option>
                					{%endfor%}
                               </select>
                Date From: <input type="text" class="date_from" name='date_from' style="width: 88px;" required/>
Date to: <input type="text" class="date_to" name='date_to' style="width: 88px;" required/>
                Zone From : <select class='zone_from' name='zone_from' style="width: 88px;">
                        <option value="0">all</option>
			{%for a in zone%}
                        <option value="{{a.id}}">{{a}}</option>
                        {%endfor%}
                            </select>
                Zone to : <select class='zone_to' name='zone_to' style="width: 88px;"/>
                          	    <option value="0">all</option>
			 {%for a in zone%}
                                   <option value="{{a.id}}">{{a}}</option>
                          {%endfor%}
                          </select><br>
                <!--Date-To: <input type="text" class="reports_date" style="width: 88px;"/>-->
               <!--Destination <select class='ser_centre' name='ser_centre' style="width: 90px;"/>
								{%for a in sc%}
                					<option value="{{a.id}}">{{a}}</option>
                				{%endfor%}
               				</select>-->
        <table>              
         <tr>
          <td><div class="all_type_check">
         Type: <input type="radio" name="type" value="all_type" class ="all_type" required>All
	       <input type="radio" name="type" value="ebscod" class ="check_type" >EBScod
               <input type="radio" name="type" value="ppd" class ="check_type">ppd
               <input type="radio" name="type" value="cod" class ="check_type">cod
               <input type="radio" name="type" value="ebsppd" class ="check_type">ebsppd
               <input type="radio" name="type" value="rev"class ="check_type">reverse</div>
          </td>
          <td>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select :
               <input type="checkbox" name="checkbox" value="rts" class="check_rts" checked>RTS 
               <input type="checkbox" name="checkbox" value="non_rts" class="check_non_rts" checked>NON RTS
	       <input type="checkbox" name="checkbox" value="all" class="check_all"     checked>ALL	
          </td>   
          <td>     
               &nbsp;&nbsp;&nbsp;&nbsp;<input type="Submit" name='dl_report' value="Download" class="btn btn-primary" id="download">
          </td>
          </tr>
         </table>   
            </form>
         </div>
  </div>
    
    <div class="row-fluid">
      <div class="span12">
        <div class="cust-details">
          <div class="cust-title">
            <i class="icon-exclamation-sign" style="font-size: 28px ; margin-right: 10px;margin-top: 2px;"></i> <span>Recent Backdated </span>
          </div>

<div id="report-content">
{%block table%}
            <table class="table">
              <thead>
                <tr>
                  <th>Batch Id</th>
                  <th>Date From</th>
                  <th>Date To</th>
                  <th>Processed</th>
                  <th>Customer</th>
                  <th>Origin ZOne</th>
                  <th>Dest Zone</th>
                  <th>Product Type</th>
                  <th>Reverse Status</th>
                  <th>Status</th>
		  <th>Report</th>
                </tr>
              </thead>
              <tbody>

  {%for a in batch%}
<tr>
<td>{{a.id}}</td>
<td>{{a.date_from|date:"M d, Y"}}</td>
<td>{{a.date_to|date:"M d, Y"}}</td>
<td>{{a.processed_count}}/{{a.count}}</td>
<td>{{a.customer}}</td>
<td>{{a.org_zone}}</td>
<td>{{a.dest_zone}}</td>
<td>{{a.product_type}}</td>
<td>
{% if a.shipment_type == 1 %}
Reverse
{% else %}
Fresh
{% endif %}
</td>
<td>
{%if a.status == 0 %}
In Queue
{%elif a.status == 1 %}
Processing
{% else %}
Completed
{% endif %}
</td>
<td><button type="button" id="{{a.id}}" class="report_download">Download</button></td>
</tr>
  {%endfor%}
 </tbody>
            </table>
{%endblock%}

</div>

          
          </div><!-- /cust-content -->
        </div>
      </div>
    </div><!-- /row-fluid -->
    
  </div><!-- /container-fluid -->
             
</div>
 <!-- modal -->
  <div class="modal hide modal-add-revlet" id="add-revlet">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Notify</h3>
    </div>
    <div class="modal-body">
      
    </div>
  </div><!--modal end-->



   <!-- uncomment pre-deloy -->
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
  <script>window.jQuery || document.write('<script src="assets/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

 
   <script type="text/javascript">
$(document).ready(function() {
  $('#view_report').click(function(event) {
  
   //$('#report-content').html('<center><img style="margin-top:100px" src="/static/admin_tools/images/ajax-loader.gif"></center>');
    var report_type = $(".report_type").val();
    
    var cust_id = $(".cust_name").val();
   
    var date_from = $(".date_from").val();
 
    //var date_to = $(".date_to").val();
    //var sc = $(".sc").val();
    //var type = $(this).attr('type')
    
  $.ajax({
          url: '/reports/customer_wise_bill_summary/',
          type: "POST",    
           data: {report_type : report_type, cust_id: cust_id, date_from:date_from},
           success: function(data) {
           $('#report-content').html(data);
         }     //  }
        });
  });
   });

</script>


<script type="text/javascript">
var currentTime = new Date();
// First Date Of the month 
var startDateFrom = new Date(currentTime.getFullYear(),currentTime.getMonth(),1);
$(".date_from").datepicker({ changeMonth: true, changeYear: true, dateFormat: "yy-mm-dd",minDate: startDateFrom });
$(".date_to").datepicker({ changeMonth: true, changeYear: true, dateFormat: "yy-mm-dd",minDate: startDateFrom });
//$(".date_from").datepicker({ changeMonth: true, changeYear: true, dateFormat: "yy-mm-dd" });
$('.date_to').change(function(){
	if($(".date_from").val() > $(".date_to").val()){
	alert("Date To should be grater than Date From.")
	}
	});
$('.check_all').change(function() {
        // alert("hie");
            // $('.rts_check').find('input[type=checkbox]:unchecked').addAttr('checked');
           if($(this).is(":checked")) {
           $(".check_rts").prop('checked', true); 
            $(".check_non_rts").prop('checked', true); 
          }else{
		$('.check_rts').removeAttr('checked');
		$('.check_non_rts').removeAttr('checked');
 	  }  
     });
$('.check_rts').change(function() {
         // alert("hie");
             // $('.rts_check').find('input[type=checkbox]:unchecked').addAttr('checked');
        if(($(this).is(":checked")) && ($('.check_non_rts').is(":checked"))) {         
	$(".check_all").prop('checked', true); 
	}else{
	     $('.check_all').removeAttr('checked'); 		
	     }
      });
$('.check_non_rts').change(function() {
          // alert("hie");
              // $('.rts_check').find('input[type=checkbox]:unchecked').addAttr('checked');
         if(($(this).is(":checked")) && ($('.check_rts').is(":checked"))) {         
         $(".check_all").prop('checked', true); 
         }else{
              $('.check_all').removeAttr('checked');             
              }
       });
//$('.all_type').change(function() {
  //        alert("hie");
         //       $('.all_type_check').find('input[type=checkbox]:unchecked').addAttr('checked');
//          if(($(this).is(":checked")) && ($('.check_rts').is(":checked"))) {         
  //       $(".check_type").prop('checked', true); 
    //      }else{
        //       $('.check_type').removeAttr('checked');             
      //        }
       // });
//$('.check_type').change(function() {
//           alert("hie");
          //       $('.all_type_check').find('input[type=checkbox]:unchecked').addAttr('checked');
  //      $('.check_type').removeAttr('checked');           
    //    $('.all_type').removeAttr('checked');
//	$(this).attr("checked", true); 
//	});
$('.report_download').click(function(){
        alert($(this).attr('id')) 
	});    
</script>

  
<script>
	$('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
$('#view_report').click(function(){
alert($(".cust_name").val() +" "+ $(".date_from").val() + " "+ $(".zone_from").val() + " "+ $(".zone_to").val() + " "+ $('input[name=type]:checked').val());

});

$('#download').click(function(){
 	var rts_status = $('input[name=checkbox]:checked').val();
	alert(rts_status)
	if(rts_status=="all"){
     var rts_stats = "rts_all"
	}else{
	var rts_stats = $('input[name=checkbox]:checked').val();
	}
$.ajax({
   type:"POST",
    url: "/billing/run_backdated/",
    data: "cid="+$(".cust_name").val()+"&date_from="+$(".date_from").val()+"&date_to="+$(".date_to").val()+"&zone_from="+$(".zone_from").val()+"&zone_to="+$(".zone_to").val()+"&type="+$('input[name=type]:checked').val()+"&rts_status="+rts_stats);
    success: function(resp){
    alert(resp);
 }
 })

});
</script>

 
{% endblock %}
          	
