{% extends "base.html" %}

{% load projects_tags %}

{% block head_title %}ScrumDo Developer Registered Applications{% endblock %}

{% block body_div_class %}narrow_body{% endblock %}



{% block body %}
<h1>Your OAuth Applications</h1>
<p>This page lets you register an application that integrates with the ScrumDo API and authenticates via OAuth.  This is for developers
creating new applications, not for users trying to hook up an existing application</p>


{% for app in existing_apps %}

{% endfor %}


<h2>New App</h2
<form class="uniForm" id="add-app" method="POST" action="">
{% csrf_token %}
    <fieldset class="inlineLabels">
        {{ form }}
        <div class="form_block">
            <input type="submit" value="{% trans "Create Application" %}"/>
        </div>
    </fieldset>
</form>


{% endblock %}
