{% extends "base_out.html" %}

{% block content %}
<div id="wrap">
  <div class="container-fluid main" role="main" id="main">
    <div class="row-fluid">
      <div class="span12">
          <div class="cust-content pull-right alert error" style="height:100px; width:450px; position:fixed; top:25%; left:30%; font-size:24px; background:white; text-align: center; display: table-cell; vertical-align: middle; border: solid 3px #ccc; padding:100px 20px;">
              <h1 style="margin-bottom:20px;color:#d60322;">Page Does Not Exist!</h1>
              <a href="/">Go to Home</a>
          </div>
  </div><!-- span 12 -->
  </div><!-- /row-fluid -->
</div><!-- /container-fluid -->
</div>
{% endblock %}
