<!doctype html>
  <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>ECOM</title>    
    
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">        
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />    

    
    <meta property="og:image" content="http://www.domain.com/images/logo.png"/>
    <meta property="og:title" content="-- description here --"/>
    <meta property="og:url" content="http://www.domain.com"/>
        
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
         
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/authentication/css/styles.css" /> 
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/authentication/css/font-awesome.css">           
     <link rel="stylesheet" href="{{ STATIC_URL }}assets/authentication/css/popup.css">          
    <script src="{{ STATIC_URL }}assets/authentication/js/libs/modernizr.custom.60077.js"></script>      
<script src="{{ STATIC_URL }}assets/authentication/js/jquery-1.7.2.min.js"></script>     
   <script src="{{ STATIC_URL }}assets/authentication/js/popup.js"></script>   
 
  </head>
                           
  <body>
 <div id="backgroundPopup"></div>  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">ECOM</a>
        
        <!-- actions -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".main-toolbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="btn-toolbar nav-collapse pull-right main-toolbar" id="main-toolbar">
          <div class="btn-group myaccount">
            <a href="/pickup/pending_pickup/"><i class="icon-plus-sign"></i><span>Pickup</span></a>
            <a href="/airwaybill/airwaybill_search/"><i class="icon-plane"></i><span>Airway Bill</span></a>
            <a><i class="icon-truck"></i><span>Service Center</span></a>
            <a><i class="icon-money"></i><span>Billing</span></a>
            <a href="/customer/"><i class="icon-user"></i><span>Customer</span></a>
            <a><i class="icon-share-alt"></i><span>Delivery</span></a>
            <a href="/authentication/employee/" class="active"><i class="icon-group"></i><span>Employee</span></a>
             <a href="/authentication/logout_view/"><i class="icon-signout"></i><span>Logout</span></a>
          </div>                              
        </div>        
        
      </div><!-- /container-fluid -->
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

   		{% block content %}
          		          		
          		{% endblock %}


          		          		
          		{% block basescripts %}
          		
          		{% endblock %}
          		   <!-- uncomment pre-deloy -->
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}assets/authentication/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- bootstrap -->
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-transition.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-alert.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-modal.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-dropdown.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-scrollspy.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-tooltip.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-popover.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-button.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-collapse.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-carousel.js"></script>
  <script src="{{ STATIC_URL }}assets/authentication/js/bootstrap-typeahead.js"></script>
  
  <script src="{{ STATIC_URL }}assets/authentication/js/application.js"></script>
     
  <script>$(rev.init);</script>  

     <script type="text/javascript">
    $("[rel=tooltip]").tooltip();
</script> 
   
<script type="text/javascript">
        (function() {
            $("[rel=popover]").popover();
        })();
    </script>


          		
          		
	</body>
</html>
