{% extends "base.html" %}

{% block header %}
   <script src="{{ STATIC_URL }}assets/authentication/js/popup.js"></script>   
{% endblock %}
          		{% block content %}
          		
          		

<div id="backgroundPopup"></div>  

<div id="wrap">
  <div class="container-fluid main" role="main" id="main">
  <div class="row-fluid">
    <div class="span12">
        <div class="add-details pull-right">
            
         
         


        </div>
    </div>
  </div>


    <div class="row-fluid">
      <div class="span12">
        <div class="survey-details">
          <div class="cust-title">
            <i class="icon-plane" style="font-size: 28px ; margin-right: 10px;margin-top: 2px;"></i> <span>Change Password</span>
            <div class="pull-right">
            
            </div>
          </div>
          <div class="cust-content">
          <div class="summary-content">

<form action="" method="post" id="user_form">
{%csrf_token%}
{% if warning %}
<p class="alert alert-error">{{warning}}</p>
{% endif %}
<p>Enter a new password for the user .</p>
 <label for="id_password1" class="required">Password:</label> <input type="password" name="password1" id="id_password1" />
 <label for="id_password2" class="required">Password (again):</label> <input type="password" name="password2" id="id_password2" />
  <p class="help">Enter the same password as above, for verification.</p>

  <input type="submit" class="btn btn-success" value="Change password" />
</form>



            </div>
            
          </div>
        </div>
      </div>
    </div><!-- /row-fluid -->
    
  </div><!-- /container-fluid -->
             
</div>




   <div id="popupContact">  
   
        <a id="popupContactClose">x</a>  

  </div>  



{% endblock %}
          	
