{% extends "base_legacy.html" %}
{% load humanize %}

{% block body %}
    <div class="span6">
        <h1>Unsubscribe Confirmed</h1>
        <p>
            Your email address has been removed from all ScrumDo
            marketing mailing lists, and your email address has been added to
            our do-not-mail list.
        </p>
        <p>
            If you are a ScrumDo user, you may continue to get transactional
            emails from us, such as billing statements or activity updates.
            Please email <a href="mailto:support@scrumdo.com ">support@scrumdo.com</a> if you have any questions.
        </p>
    </div>

{% endblock %}