<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load projects_tags %}{% load activity_tags %}
{% spaceless %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">

<!-- body -->
<div class="heading" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 1.6; font-weight: bold; background: #32383E; margin: 0; padding: 4px 10px;">
	<span style="color: #FFFFFF; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">Scrum</span><span style="color: #F3764F; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">Do</span>
</div>

<table class="body-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 20px;">
    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">
    	<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>
		<td class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 700px !important; clear: both !important; margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">
			<!-- content -->
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 700px; display: block; margin: 0 auto; padding: 0;">

                <div style="text-align: center">
                    Join <b>{{inviter|name_or_username}}</b> and team in ScrumDo
                    <br/><br/>
                    <b>{{inviter|name_or_username}}</b> has just invited
                    you to the ScrumDo team <b>{{ invite.team.name }}</b>
                    in the <b>{{ invite.team.organization.name }}</b> organization.
                  <br/><br/>
                  <div style="font-size: 80%"> ScrumDo is the most versatile work management solution helping individuals and teams become more adaptable.</div>
                  </br/>
                    <div style="margin-top: 50px; margin-bottom: 80px;">
                      <a href="{{base_url}}/organization/accept/{{invite.key}}" style="padding: 20px; background-color: #F3764F;font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;">
                            Join the Team Now
                      </a>
                    </div>
                </div>

                <div style="color: #AAAAAA;text-align: center;font-size: 12px;line-height: 14px;">
                    If you have troubles clicking the button above, copy and paste this entire url into your browser:<br/>
                    <a href="{{base_url}}/organization/accept/{{invite.key}}">{{base_url}}/organization/accept/{{invite.key}}</a>
                </div>

            </div>
			<!-- /content -->

		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>
	</tr>
</table>

</body>
</html>
{% endspaceless %}
