<div>
    <nickeled-guide-link
        ng-if="::projectData.isPremiumUser()" 
        url="http://guides.scrumdo.com/downstream-planning" 
        title="Take a tour of how to Break down work and do effective Program Increment Planning"></nickeled-guide-link>

    <sd-restricted-feature ng-if="::!projectData.isPremiumUser()" 
        feature-name="'Downstream Planning'" organization-slug="projectData.organizationSlug" 
        feature-image="'TeamPlanningSample.jpg'"></sd-restricted-feature>

    <div class="alert alert-info margin10 text-center" ng-if="::projectData.isPremiumUser()">
        There is no child <strong>{{::childTimePeriodName}}</strong> associated with this <strong>{{::timePeriodName}} 
        <i>'{{::projectData.currentIteration.name}}'</i></strong> therefore we can not display the Downstream Planning tool. <br/>
        To associate child <strong>{{::childTimePeriodName}}</strong> please select <strong>
        <i>'{{::projectData.currentIteration.name}}'</i></strong>
        as parent of <strong>{{::childTimePeriodName}}</strong>.<br/>Select child <strong>Workspace/{{::childTimePeriodName}}</strong>
        below to add to this.
    </div>
    
    <div class="children-iterations-editorbox col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
        ng-if="projectData.canWrite() &&
                projectData.isPremiumUser()">
        <div class="refresh-btn text-center" style="margin-bottom: 20px;" ng-if="showRefresh">
            <button class="scrumdo-btn primary" ng-click="reloadPage()">
                <i class="fa fa-refresh" aria-hidden="true"></i> Reload Downstream Planning</button>
        </div>

        <children-iterations-editor
            parent-project="projectData.currentProject"
            parent-iteration="projectData.currentIteration"
            action="'linktoparent'"
        ></children-iterations-editor>
    </div>
</div>