<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Automated Billing</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/sb-admin-2/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/assets/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/assets/sb-admin-2/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/assets/sb-admin-2/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/assets/sb-admin-2/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/assets/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jquery ui css -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/components.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="admin_style">
    <div id="id_search_loader" class="temp-hide loader">
       <img src="/static/assets/img/ajax-loader.gif" alt="Please wait.."/>
    </div>

    <div id="wrapper">
        {% block sidebar %} {% endblock %}

        <div id="page-wrapper">
        {% block content %} {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/static/assets/sb-admin-2/js/jquery-1.11.0.js"></script>

    <!-- jQuery datepicker -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <!-- django ajax post request fix -->
    <script src="/static/assets/js/django_ajax.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/assets/sb-admin-2/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/assets/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript 
    <script src="/static/assets/sb-admin-2/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/assets/sb-admin-2/js/plugins/morris/morris.min.js"></script>
    <script src="/static/assets/sb-admin-2/js/plugins/morris/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/static/assets/sb-admin-2/js/sb-admin-2.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}assets/js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/libs/modernizr.custom.60077.js"></script>
    <script src="{{ STATIC_URL }}assets/js/common.js"></script>

    {% block extrajs %}{% endblock %}

</body>

</html>
