<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScrumDo - Agile/Scrum Tool</title>

	<link rel="stylesheet" href="{{STATIC_URL}}landing/bootstrap/css/bootstrap.css" type="text/css" />
    <!--[if lt IE 8]><link rel="stylesheet" href="css/bootstrap-ie7buttonfix.css"><![endif]-->
 	<!--[if IE 8]><link rel="stylesheet" href="css/bootstrap-ie8buttonfix.css"><![endif]--> 
    <link rel="stylesheet" href="{{STATIC_URL}}landing/style.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}landing/css/bootstrap_custom.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <script src="{{STATIC_URL}}landing/js/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}landing/bootstrap/js/bootstrap.min.js"></script>
    
    <!--[if lt IE 9]>
      <script src="{{STATIC_URL}}landing/js/html5.js"></script>
    <![endif]-->
    
    <script type="text/javascript">var _kmq = _kmq || [];
    var _kmk = _kmk || '03519b5a41c175953eb8c1963e55054f5dc16063';
    function _kms(u){
      setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0],
        s = d.createElement('script');
        s.type = 'text/javascript'; s.async = true; s.src = u;
        f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>

</head>

<body>    
	
	<div id="header">
    	<div class="wrapper">            

        	<div class="floatLeft">
            	<a class="logo_top" href="/">
                	<img src="{{STATIC_URL}}landing/images/logo_top.png" width="205" height="40" border="0" />
                </a>
            	<img src="{{STATIC_URL}}landing/images/man_with_tie.png" width="97" height="142" border="0" />
            </div>
            <div class="floatRight get_scrumdo_btn_holder">
            	<a href="/account/signup/" class="btn btn-success btn-success-iefix">Get ScrumDo</a>
            	<!--<a class="get_scrumdo_btn" href="#">
                	<img src="{{STATIC_URL}}landing/images/get_scrumdo_btn.png" width="206" height="40" border="0" />
                </a>-->
                <br/>
                <h6>30 Days Trial Free!</h6>
            </div>
            <div class="clearBoth"></div>
        </div>

    </div>
	<!-- #header ends -->    
    
	<!-- #main starts -->
	<div id="main">
    	<div class="wrapper">

            
            <div class="row" style="padding-top:15px;">                
                <a href="/plans">Plans &amp; Pricing</a> | 
                <a href="http://support.scrumdo.com/">Help &amp; Support</a>

                <span class="pull-right">Existing User? <a href="{{SSL_BASE_URL}}/account/login/">Login Here</a></span>
            </div>

            
            <div class="row">
            	<div class="paddingTop40px">
                    <h2>
                        Easy to Use . <span class="color_414040">Incredible Value</span> . Free Trial . <span class="color_414040">No Commitments</span>
                    </h2>
                </div>
            </div>
            
            <div class="row">
            	<div class="paddingTop20px paddingBottom20px">
                    <h3>
                        A simple & powerful project management tool for Agile development teams.
                    </h3>
                    <br/>
                    <h5 class="lineHeight24px">
                    	Development teams employ Scrum for a variety of reasons - to accelerate Time to Market, to improve product quality, to more effectively manage changing business requirements, and more. ScrumDo helps teams achieve these objectives more readily by providing them with a lean and simple tool for visualizing and managing essential project artifacts - all at an incredible value compared to other tools in the market.
                    </h5>
                </div>
            </div>
            
            <div class="row">
            	<div class="featured_content">
                	<div class="content">
                    	<div class="floatLeft paddingLeft17px">
                        	<img src="{{STATIC_URL}}landing/images/feature_01.png" width="188" height="188" />
                        </div>
                        <div class="floatRight width700px paddingTop40px">
                        	<h4 class="bold">
                            	All the Features at a Fraction of the Cost
                            </h4>
                            <div class="lineHeight24px marginTop15px">
                                <div class="row span9">
                                    <div style="float: left; margin-right: 40px">
                                	<ul>
                                        <li>Backlog Management</li>
                                        <li>Epic Stories</li>
                                        <li>Planning Poker</li>                                    
                                        <li>Burndown &amp; Burnup charts</li>                                    
                                    </ul>
                                    </div>
                                    <div style="float: left">
                                    <ul class="span4">
                                        <li>Releases</li>
                                        <li>Iteration Planning</li>
                                        <li>Future Predictions</li>                                    
                                        <li>And much more...</li>                                    
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                </div>
                <div class="featured_content">
                	<div class="hr"></div>
                	<div class="content">
                    	<div class="floatRight paddingRight17px">
                        	<img src="{{STATIC_URL}}landing/images/feature_02.png" width="188" height="188" />
                        </div>
                        <div class="floatLeft width700px paddingTop40px">
                        	<h4 class="bold">
                            	Group Communications & Notifications
                            </h4>
                            <h5 class="lineHeight24px marginTop15px">
                            	Good communication is essential for any agile process, and ScrumDo eliminates communication barriers across the board. E-mail notifications, live chat, and project bulletin boards are some of the many ways we keep team members in close contact - whether they're across the room or across the world!
                            </h5>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                </div>
                <div class="featured_content">
                	<div class="hr"></div>
                	<div class="content">
                    	<div class="floatLeft paddingLeft17px">
                        	<img src="{{STATIC_URL}}landing/images/feature_03.png" width="188" height="188" />
                        </div>
                        <div class="floatRight width700px paddingTop40px">
                        	<h4 class="bold">
                            	Flexible Third Party Integrations
                            </h4>
                                <div style="margin-top:10px">
                                    <div style="float: left; margin-right: 40px">
                                    <ul>
                                        <li>GitHub</li>                                    
                                        <li>Basecamp</li>
                                        <li>Jira</li>                                        
                                    </ul>
                                    </div>
                                    <div style="float: left">
                                    <ul class="span4">
                                        <li>Harvest</li>
                                        <li>Flowdock</li>
                                        <li>And an API for everything else</li>                                    
                                    </ul>
                                    </div>
                                </div>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
            
            <div class="row">
            	<div class="paddingTop20px paddingBottom20px">
            		<h2 class="text-center">Here’s a quick comparison of plans :</h2>
                </div>
                <div class="paddingTop20px paddingBottom20px">
                	
                    <div class="posRel">
                        <div class="table_v_line"></div>
                        <table width="100%" class="table table_header">
                            <tr>
                                <td width="190"><img src="{{STATIC_URL}}landing/images/table_settings_icon.png" width="15" height="15" border="0" class="table_header_image" />PRODUCT</td>
                                <td width="132">MONTHLY COST<br/>(15 Users)</td>
                                <td width="137">PROJECT<br/>ATTACHMENTS</td>
                                <td width="159">TEAM<br/>COMMUNICATIONS</td>
                                <td width="163">3RD PARTY<br/>INTEGRATIONS</td>
                                <td width="190">METRICS /<br/>REPORTING</td>
                            </tr>
                        </table>
                    
                        <table width="992" class="table table_special_bg box_shadow">
                            <tr>
                                <td width="40"></td>
                                <td width="120">ScrumDo</td>
                                <td width="40"></td>
                                <td width="132">34.95</td>
                                <td width="137"><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td width="159"><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td width="163"><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td width="196"><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                            </tr>
                        </table>

                        <table width="100%" class="table table-striped">
                            <tr>
                                <td width="40"></td>
                                <td width="120">TargetProcess</td>
                                <td width="40"></td>
                                <td width="132">375.00</td>
                                <td width="137"><img src="{{STATIC_URL}}landing/images/icon_no.png" width="14" height="14" border="0" /></td>
                                <td width="159"><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td width="163"><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td width="196"><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Rally - eXpress</td>
                                <td></td>
                                <td>285.00</td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_no.png" width="14" height="14" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>AgileBuddy</td>
                                <td></td>
                                <td>194.25</td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_no.png" width="14" height="14" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Version One<br /><span style="font-size: x-small;">(Catalyst)</td>
                                <td></td>
                                <td>174.90</td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_no.png" width="14" height="14" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Pivotal Tracker</td>
                                <td></td>
                                <td>100.00</td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_no.png" width="14" height="14" border="0" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Agile Zen (Rally)</td>
                                <td></td>
                                <td>59.00</td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                            </tr>
                            <!--
                            <tr>
                                <td></td>
                                <td>Greenhopper</td>
                                <td></td>
                                <td>25.00</td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_no.png" width="14" height="14" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                                <td><img src="{{STATIC_URL}}landing/images/icon_yes.png" width="16" height="12" border="0" /></td>
                            </tr>
                        -->
                        </table>
                    </div>
                
                </div>
            </div>
            
            <div class="row">
            	<div class="paddingTop20px paddingBottom20px text-center">
                	<a href="/account/signup/" class="btn btn-success  btn-success-iefix">Get ScrumDo</a>
                	<!--<a class="get_scrumdo_btn" href="#">
                        <img src="{{STATIC_URL}}landing/images/get_scrumdo_btn.png" width="206" height="40" border="0" />
                    </a>-->
                    <br/>
                    <h6>30 Days Trial Free!</h6>
                </div>
            </div>
            
        </div>
    </div>
	<!-- #main ends -->
    
    
	<!-- #footer starts -->
	<div id="footer">
    	<div class="wrapper">
        	<div class="row">
            	<div class="posRel">
                    <div class="floatLeft">
                        <a href="http://support.scrumdo.com/">Support</a> <a href="http://support.scrumdo.com/">Contact</a>
                    </div>
                    <div class="floatRight">
                         <span>&copy; 2013 ScrumDo</span>
                    </div>
                    <div class="clearBoth"></div>
            	</div>
            </div>
        </div>
    </div>
	<!-- #footer ends -->
	
</body>
</html>