<!doctype html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>ECOM</title>   
</head>
<body>
    <form method="post" action="http://api.ecomexpress.in/api/create_awb/" style="border:#000000 2px solid; width:375px;" enctype="multipart/form-data">
    Username: <input type="text" name="username" size="35" />
    <br />
    Password: <input type="password" name="password" size="35" /><br />
    <input type="file" name="upload_file"/>
    <input type="submit" value="Submit" style="text-align:center;" />
    </center>
    </form>
</body>
</html>
