{% extends "base.html" %}
{% block header %}
   <script src="{{ STATIC_URL }}assets/authentication/js/popup.js"></script>
{% endblock %}

{% block content %}
<script src="/static/assets/js/jquery-ui/development-bundle/ui/jquery.ui.datepicker.js"></script>
<div id="backgroundPopup"></div>
<script type="text/javascript">
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>

<div id="wrap">
  <div class="container-fluid main" role="main" id="main">
  <div class="row-fluid" style="min-height: 50px;">
    <div class="span12"> <div class="pagination pull-left"> <!-- add pagination here --> </div> </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="cust-details">
        <div class="cust-title"><i class="icon-exclamation-sign" style="font-size: 28px ; margin-right: 10px;margin-top: 2px;"></i> <span>West Bengal Entry tax for : {{customer}}</span></div>
        <div class="cust-content">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a data-toggle="tab" href="#productview" >Customer</a></li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div id="productview" class="tab-pane fade active in">
          <form action="/octroi/customer/add_billing/" method="POST">
              {% csrf_token %}
              {{ octroi_form.as_table }}
              <input type="submit" class="btn btn-primary" id="octroiSubmit" value="Generate Billing">
              <h4 class="pull-right">Number of unbilled shipments: <a href="/octroi/unbilled_ships/{{ customer.id }}" >{{ unbilled_ship_count }}</a></h4>
          </form><!--
          <input type="button" style="margin-left: 122px;margin-top: -78px;"  class="btn btn-primary" value=" Custom WB Entrytax Billing" id="octroi_exel" data-rev-action="modal" data-target="#ship1">
      -->     <p></p>
          {%if error_list %}
          <h4>Billing Not done. Please rectify below errors.</h4>
          <div class="alert alert-info">
          <ul>
          {%for error in error_list%}
           <li>{{error}}</li>
          {%endfor%}
          </ul>

          <h4>Check Below Airwaybills</h4>
          {%if error_awbs %}
          <ul>
          {%for awbs in error_awbs%}
           <li>{{awbs}}</li>
          {%endfor%}
          </ul>
          {%endif%}
          </div>
          {%endif%}

          <table class="table">
          <tr>
              <th>Bill ID</th>
              <th>Billing Date</th>
              <th>WB Entry Tax</th>
              <th>WB Entry Tax  Ecom Charge</th>
              <th>Total Charge</th>
              <th></th>
 
             <th></th>
          </tr>
          {% for billing in octroi_billings %}
          <tr>
              <td>{{ billing.bill_id }}</td>
              <td>{{ billing.bill_generation_date }}</td>
              <td>{{ billing.octroi_charge|floatformat:2 }}</td>
              <td>{{ billing.octroi_ecom_charge|floatformat:2 }}</td>
              <td>{{billing.total_payable_charge|floatformat:2}}</td>
              <td>
              <a class="btn btn-primary" href="/wb_entry_tax/billing/customer/{{ billing.id }}/invoice_summary/">Invoice Summary</a>
              <a class="btn btn-primary" href="/wb_entry_tax/billing/customer/{{ billing.id }}/invoice_summary_without_header/">Headless Invoice Summary</a>
              <a class="btn btn-primary" href="/wb_entry_tax/billing/customer/{{ billing.id }}/awb_pdf/">Awb Pdf</a>
              <a class="btn btn-primary" href="/wb_entry_tax/billing/customer/{{ billing.id }}/awb_excel/">Awb Excel</a></td>
          </tr>
          {% endfor %}
          </table>
          </div>
        </div><!-- myTabContent -->
        </div><!-- cust-content -->
        </div>
      </div>
    </div><!-- /row-fluid -->
  </div><!-- /container-fluid -->
</div>

<script>
$(document).ready(function(){
  $("#id_billing_date").datepicker({ changeMonth: true, changeYear: true, dateFormat: "yy-mm-dd" });
});
</script>

<div class="modal hide modal-mis-div" id="ship1">
    <div class="modal-header">
      <h4>Octroi Custom Billing Through Excel File upload<a class="close" data-dismiss="modal">×</a></h4>
    </div>
    <div style="height:auto;" class="modal-body">
        <p>Please follow the below instructions when you upload your excel file containing the octroi details.</p>
        <ul>
           <li>All your data should be filled in Sheet1.</li>
           <li>The first row of your sheet will be column headers.</li>
           <li>All your data should be filled from row1, col1. Means there should not be any blank rows or columns on the left side and top of your data</li>
           <li>Columns should be in the following order: 
              <ul>
                  <li>Airwaybill Number (col 1)</li>
                  <li>Collectable Value (Col 2)</li>
                  <li>Receipt Number (Col 3)</li>
              </ul>
        </ul>
        <form method="post"  class="form-inline" action="/octroi/custom_billing/" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="hidden" id="cid"  name="cid" value= "{{ customer.id }}">
        <input  type="file" class="btn" value="browse" name="oct_file"/>
        <input type="text" id="octroi_value" placeholder="Octroi Rate"  name="octroi_value" >
        <input type="submit" class="btn btn-primary" value="Upload" />
        </form>
    </div>
 </div>
{% endblock%}
