	        			<div class="popupHead">
	        			<h3>Add Location</h3>
					 		<a href="#" id="popupContactClose">x</a>  
	        			</div>
	        			
	<form action="/location/add/zone/" id="addzone" method="post">
						<div class="popupBody">
						{% csrf_token %}	
			<div class="title-1"><h6> Add Zone:</h6></div><hr>
				{% for field in zone_form %}
        		<div class="{% cycle 'left-field' 'right-field' %}">
               			<div> {{ field.label }}:</div>
               			{{ field }}	           			
               			<li style="width:210px;min-height:18px;color:red; list-style:none;" > 
               			{{ field.errors|striptags }}
               			</li>
               	</div>
   				{% endfor %}
   				 
   	 				         	
		</div>
<div class="popupFooter">	<div class="pull-right" style="height: 30px; vertical-align: top;"> 
			 <input class="btn" type="button" id="resetbutton" value="Reset">
              <input class="btn btn-primary" type="button" id="submitbutton" value="Save">
            </div>
	</form>
</div>

			

			
 <script type="text/javascript">	
 
 $("#popupContactClose").click(function(){
		disablePopup();
	});
 
	$('#submitbutton').click(function(){
		data = $("#addzone").serializeArray();
		$.ajax({
			  type:"POST",
			  url: "/location/add/zone/",
			  data: data,//{email: $('#id_email').val()},
			  success: function(data){
				  //alert(data);
			    	//$('#popupContact').empty();
			        if(data=='1'){
			    		disablePopup();
			    		location.reload();
			        }else
			        $('#popupContact').html(data);
			         }
			});
	
		
		$.ajaxSetup({ 
		     beforeSend: function(xhr, settings) {
		         function getCookie(name) {
		             var cookieValue = null;
		             if (document.cookie && document.cookie != '') {
		                 var cookies = document.cookie.split(';');
		                 for (var i = 0; i < cookies.length; i++) {
		                     var cookie = jQuery.trim(cookies[i]);
		                     // Does this cookie string begin with the name we want?
		                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                     break;
		                 }
		             }
		         }
		         return cookieValue;
		         }
		         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
		             // Only send the token to relative URLs i.e. locally.
		             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		         }
		     } 
		});
		
		});