    	<div class="span4">
          <div class="cust-details">
             <div class="cust-title">
                <i class="icon-road" style="font-size: 28px ; margin-right: 10px;margin-top: 2px;"></i> <span> Pin Routes</span>
           	 </div>
             <div class="cust-content">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Shortcode </th>
                          <th width="10%;"><a href="#"  class="AddLocation2" location="/location/add/pinroute/" ><img src="{{ STATIC_URL }}assets/img/plus.png"/></a>
                          
                        </tr>
                      </thead>
                      <tbody>
                       {% for pinroute in pinroutes %}
                        <tr>
                          <td >{{ forloop.counter }}</td>
                          <td row_id="{{ pinroute.id }}" model_name="Pinroute"  field_name="pinroute_name" onDblClick="javascript:changeContent(this);">{{ pinroute.pinroute_name }}</td>
                          <td></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
          		</div>
         	</div>
        </div><!-- /span6 -->
