
<div class="span4">
          <div class="cust-details">
             <div class="cust-title">
                <i class="icon-globe" style="font-size: 28px ; margin-right: 10px;margin-top: 2px;"></i> <span> Zone</span>
                <input type="text" placeholder="Search" class="input-mini pull-right"/> 
           	 </div>
             <div class="cust-content">
                    <table id="tt" class="table"> 
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Shortcode</th>
                          <th>Additional Cost</th>
                          <th><a href="#"  class="AddLocation2" location="/location/add/zone/" ><img src="{{ STATIC_URL }}assets/img/plus.png"/></a>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                {% for zone in zones %}
                <tr>
                          <td >{{ forloop.counter }}</td>
                          <td row_id="{{ zone.id }}" model_name="Zone"  field_name="zone_name"	        onDblClick="javascript:changeContent(this);">{{ zone.zone_name }}</td>
                          <td row_id="{{ zone.id }}" model_name="Zone"  field_name="zone_shortcode"     onDblClick="javascript:changeContent(this);">{{ zone.zone_shortcode }}</td>
                          <td row_id="{{ zone.id }}" model_name="Zone"  field_name="additional_cost" 	onDblClick="javascript:changeContent(this);">{{ zone.additional_cost}}</td>
                          <td></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
          		</div>
         	</div>
        </div><!-- /span6 -->