<div class="modal-header cust-title" style="width:872px; ">
    <a class="close" data-dismiss="modal">×</a>
    <div>
        <font style="color:#fff; font-size:24px;"> Include Shipment </font> &nbsp;
        <div style="display:inline-block">
            <font style="color:#fff; font-size:14px;">Airway Bill:</font>
            <input name="awb"  id="awb_scan" class="awb" style=" width:100px" type="text" size="9"/>
        </div>
    </div>
    <div class="modal-body">
        <table class="table-rto-shipment">
            <thead>
                <tr>
                    <th>&nbsp;AWB</th>
                    <th>&nbsp;Delink</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

