<div class="add-details pull-right">
<a href="/service-centre/field_pickup_operation/"><i class="icon-plane"> </i>Field Pickup Operations</a> &nbsp; &nbsp;
{% comment %}
<a href="/service-centre/monitoring_dasboard/"><i class="icon-plane"> </i>Monitoring Dashboard</a> &nbsp; &nbsp;
{% endcomment %}
<a href="/service-centre/" ><i class="icon-signin"> </i>Inscan </a> &nbsp; &nbsp;
<a href="/service-centre/awb_add/" ><i class="icon-signin"> </i>AWB Data Entry </a> &nbsp; &nbsp;
<a href="/service-centre/bagging/" ><i class="icon-briefcase"> </i>Bagging </a> &nbsp; &nbsp;
<a href="/service-centre/cbags/list/" ><i class="icon-briefcase"> </i>Consolidated Bag</a> &nbsp; &nbsp;
<a href="/service-centre/connection/" ><i class="icon-truck"> </i>Connection </a> &nbsp; &nbsp;
{% comment %}
<a href="/service-centre/run_code/" ><i class="icon-plane"> </i>Run Code </a> &nbsp; &nbsp;
<a href="/service-centre/airport_confirmation/" ><i class="icon-plane"> </i>Airport Confirmation </a> &nbsp; &nbsp;
<a href="/delivery/return_redirection/1/" title="Return"><i class="icon-plane"> </i>Return</a> &nbsp; &nbsp;
{% endcomment %}
<a href="/service-centre/redirection/" title="Redirection"><i class="icon-plane"> </i>Redirection</a> &nbsp; &nbsp;
</div>
